---
template: about
---
<div data-scope="people">
  <div class="bread-search">
  	<ul class="breadcrumbs">
  		<li>
  			<a href="/">Home</a>
  		</li>
  		<li>&nbsp;/&nbsp;</li>
  		<li>
  			<a href="/people">People</a>
  		</li>
  		<li>&nbsp;/&nbsp;</li>
  		<li>
  			<a href="#" data-prop="profile_link">#</a>
  		</li>
  		<li>&nbsp;/&nbsp;</li>
  		<li>
  			<a href="/bhm_events/manage">Events</a>
  		</li>
  	</ul>
  </div>

  <div class="clear"></div>
  <h2>Manage Events</h2>
  <a href="/bhm_events/new">Schedule Event</a>
</div>
<!-- @include events_table -->
