---
template: about
---
<div>
  <div class="index-wrapper">
    <div class="content-body">
        <!-- Add content below -->
        <div class="form">
            <form data-scope="auth" data-prop="action" action="/forgotpassword" method="post">
              <!-- Errors should bet populated using the lines below -->
              <ul class="errors"><li data-scope="error"></li></ul>

              <fieldset class="margin-t">
                <ul>
                  <li>
                    <label>Enter your new password:</label>
                    <input type="password" data-prop"password" placeholder="Password"/>
                  </li>
                  <li>
                    <label>Confirm your e-mail:</label>
                    <input type="password" data-prop="confirmPassword" placeholder="Confirm Password">
                  </li>
                  <li>
                    <input type="submit" value="Submit">
                  </li>
                </ul>
              </fieldset>
            </form>
        </div>
    </div>
  </div>
</div>
