---
template: about
---
<div>
  <div class="index-wrapper">
    <div class="content-body">
        <h2>Forgot Password?</h2> <br />
        <!-- Add content below -->
        <div class="form">
            <form data-scope="auth" action="/auth/forgotpassword" method="post">
              <fieldset class="margin-t">
                <!-- Errors should bet populated using the lines below -->
                <ul data-scope="errors" class="margin-t">
                  <li data-prop="message"></li> <br />
                </ul>
                <ul>
                  <li>
                    <label>Enter your e-mail:</label>
                    <input type="email" data-prop="email" placeholder="E-mail Address"/>
                  </li>
                  <li>
                    <input type="submit" value="Submit">
                  </li>
                </ul>
              </fieldset>
            </form>
        </div>
    </div>
  </div>
</div>
