<form id="people-form" data-scope="people" data-prop="action">
  <ul data-scope="errors" class="margin-t">
<!--     <li data-prop="message">
      Error message goes here.
    </li> -->
  </ul>

  <fieldset class="margin-t">
    <legend>Profile Information</legend>
    <ul>
      <li>
        <label>First Name</label>
        <input type="text" data-prop="first_name">
      </li>
      <li>
        <label>Last Name</label>
        <input type="text" data-prop="last_name">
      </li>
<!--       <li>
        <label>
          <input data-prop="categories" type="checkbox" value="Accounting" />Accounting
        </label>
        <label>
          <input data-prop="categories" type="checkbox" value="Architecture" />Architecture
        </label>
        <label>
          <input data-prop="categories" type="checkbox" value="ArtAndDesign" />Art and Design
        </label>
        <label>
          <input data-prop="categories" type="checkbox" value="ComputerScience" />Computer Science
        </label>
        <label>
          <input data-prop="categories" type="checkbox" value="Contracts" />Contracts
        </label>
        <label>
          <input data-prop="categories" type="checkbox" value="Defense" />Defense
        </label>
        <label>
          <input data-prop="categories" type="checkbox" value="Engineering" />Engineering
        </label>
        <label>
          <input data-prop="categories" type="checkbox" value="Finance" />Finance
        </label>
        <label>
          <input data-prop="categories" type="checkbox" value="Human Resources" />Human Resources
        </label>
        <label>
          <input data-prop="categories" type="checkbox" value="Legal" />Legal
        </label>
        <label>
          <input data-prop="categories" type="checkbox" value="Marketing" />Marketing
        </label>
        <label>
          <input data-prop="categories" type="checkbox" value="Music" />Music
        </label>
        <label>
          <input data-prop="categories" type="checkbox" value="Non-Profits" />Non-Profits
        </label>
        <label>
          <input data-prop="categories" type="checkbox" value="Photo" />Photo
        </label>
        <label>
          <input data-prop="categories" type="checkbox" value="RealEstate" />Real Estate
        </label>
        <label>
          <input data-prop="categories" type="checkbox" value="Recruiting" />Recruiting
        </label>
        <label>
          <input data-prop="categories" type="checkbox" value="SocialMedia" />Social Media
        </label>
        <label>
          <input data-prop="categories" type="checkbox" value="Software" />Software
        </label>
        <label>
          <input data-prop="categories" type="checkbox" value="Video" />Video
        </label>
        <label>
          <input data-prop="categories" type="checkbox" value="WebDevelopment" />Web Development
        </label>
        <label>
          <input data-prop="categories" type="checkbox" value="Writing" />Writing
        </label>
        <label>
          <input data-prop="categories" type="checkbox" value="IT" />IT
        </label>
      </li> -->
      <li>
        <label>Categories</label>
        <input type="text" data-prop="categories_string" />
      </li>
      <li>
        <label>Email</label>
        <input type="text" data-prop="email">
      </li>
      <li>
        <label>Company</label>
        <input type="text" data-prop="company">
      </li>
      <li>
        <label>Twitter</label>
        <input type="text" data-prop="twitter">
      </li>
      <li>
        <label>LinkedIn</label>
        <input type="text" data-prop="linkedin">
      </li>
      <li>
        <label>Website</label>
        <input type="text" data-prop="url">
      </li>
      <li>
        <label>Image URL</label>
        <input type="text" data-prop="image_url">
      </li>
      <li>
        <label>Other Information</label>
        <textarea  data-prop="other_info"></textarea>
      </li>
      <li>
        <label>Custom URL</label>
        <input  data-prop="custom_url" id="custom_url" />
      </li>
      <li>
      </li>
    </ul>
  </fieldset>
  <fieldset>
    <legend>Administrator rights</legend>
    <ul>
      <li>
        <label>Is admin?</label>
        <input data-prop="admin" type="checkbox" value="#" />
      </li>
    </ul>
  </fieldset>
  <input id="submit" type="submit" value="Save">
</form>

<script type="text/javascript">
  $(document).ready(function(){
    $("#submit").click(function(e){
      if (($("#custom_url").val()).indexOf("-") != -1)
      {
        e.preventDefault();
      }
    });
  });
</script>
  <!-- <li data-prop="specialties">specialties</li> -->
