<form data-scope="people" id="people-form" data-prop="action">
  <ul class="errors"><li data-scope="error"></li></ul>
  <fieldset class="margin-t">
    <legend>Profile Information</legend>
    <ul>
    <input type="hidden" data-prop="id" />
      <li>
        <label>Custom URL - alphanumeric and dashes only.</label>
        <input type="text" data-prop="custom_url" name="people[custom_url]" id="custom_url" >
      </li>
      <li>
        <label>First Name</label>
        <input type="text" data-prop="first_name" name="people[first_name]" placeholder="First Name">
      </li>
      <li>
        <label>Last Name</label>
        <input type="text" data-prop="last_name" name="people[last_name]" placeholder="Last Name">
      </li>
      <li>
        <label>Email</label>
        <input type="text" data-prop="email" name="people[email]">
      </li>
      <li>
        <label>Company</label>
        <input type="text" data-prop="company" name="people[company]">
      </li>
      <li>
        <label>Twitter</label>
        <input type="text" data-prop="twitter" name="people[twitter]" placeholder="Twitter URL (optional)">
      </li>
      <li>
        <label>LinkedIn</label>
        <input type="text" data-prop="linkedin" name="people[linkedin]" placeholder="LinkedIn URL (optional)">
      </li>
      <li>
        <label>Website</label>
        <input type="text" data-prop="url" name="people[url]" placeholder="Website URL (optional)">
      </li>
      <li>
        <label>Bio</label>
        <textarea data-prop="bio" id="bio" name="people[bio]" placeholder="Enter your bio (160 characters or less)"></textarea>
        <p class="smalltext">You have <span id="bio-character-count"></span> characters left.</p>
      </li>
      <li style="width:100%;">
        <label>First Category</label>
        <select type="text" data-prop="category_one" class="chosen"><option data-prop="category_one_id" selected></option></select>
      </li>
      <li style="width:100%;">
        <label>Second Category</label>
        <select type="text" data-prop="category_two"></select>
      </li>
      <li style="width:100%;">
        <label>Third Category</label>
        <select type="text" data-prop="category_three"></select>
      </li>
    </ul>
  </fieldset>

  <fieldset>
    <legend>Password Reset</legend>
    <ul>
      <li>
        <label>Enter New Password</label>
        <input type="password" data-prop="password" name="people[password]" value="" placeholder="Enter Your Password">
      </li>
      <li>
        <label>Re-Enter New Password</label>
        <input type="password" data-prop="password_confirmation" name="people[password_confirmation]" value="" placeholder="Confirm Your Password">
      </li>
    </ul>
  </fieldset>
    
  <fieldset data-prop="admin_fieldset">
    <legend>Administrator Section</legend>
    <ul>
      <li>
        <label>Is approved?</label>
        <input data-prop="approved" type="checkbox" value="#" name="people[approved]">
      </li>
      <li>
        <label>Is admin?</label>
        <input data-prop="admin" type="checkbox" value="#" name="people[admin]" >
      </li>
      <li>
        <label>Image URL</label>
        <input id="image_url" type="text" data-prop="image_url" name="people[image_url]">
      </li>
    </ul>
  </fieldset>

  <input id="submit" type="submit" value="Save">
</form>

<script type="text/javascript">
$(document).ready(function(){
  $('#custom_url').blur(function(){
    $.ajax({
    url: '/people/url-available',
    type: 'get',
    dataType: 'html',
    data: $('#people-form').serialize(),
    success: function(data) {
      if (data == 'failure')
      {
        $('#custom_url').css('background-color','rgba(255,0,0,0.25)');
      }
      else
      {
        $('#custom_url').css('background-color','white');
      }
      return false;
      }
    });
  });
  if ($('#image_url').val().length == 0 || $('#image_url').val().indexOf("profile-backup") != -1)
  {
     $('#image_url').after("<p style='color:#00A3B8;'>We tried to find your picture automatically, but we did not find the JPGs we were looking for. Please try uploading your favorite profile image to gravatar.com and coming back to #openHSV and saving your profile. We promise that this will be a good move for your future on the Internetz.</p>");
  }
});
</script>
