---
template: about
---
<div>
	<ul class="breadcrumbs" data-scope="breadcrumb">
		<li>
			<a href="/">Home</a>
		</li>
		<li>&nbsp;/&nbsp;</li>
		<li>
			<a href="/people">People</a>
		</li>
		<li>&nbsp;/&nbsp;</li>
		<li>
			<a href="/people/create-profile">Create Profile</a>
		</li>
	</ul>
	<div class="content-body">
		<div class="form">
			<h2>Step #2: Create Your Profile</h2>
			<p>Update your profile by editing the fields below. A moderator will review your changes before your edits are published.</p>
			<p>Have a question? Don't see your industry listed? <a class="fancybox" data-fancybox-type="iframe" href="/feedback-form.html">Contact us</a>.</p>
			<!-- @include form -->
		</div>
	</div>
</div>