---
template: about
---
<div class="bread-search">
	<ul class="breadcrumbs" data-scope="breadcrumb">
		<li>
			<a href="/">Home</a>
		</li>
		<li>&nbsp;/&nbsp;</li>
		<li>
			<a href="/people">People</a>
		</li>
		<li>&nbsp;/&nbsp;</li>
		<li>
			<a href="/people/create-profile">Create Profile</a>
		</li>
	</ul>
</div>
<div class="clear"></div>
<div class="content-body">
	<div class="form">
		<h2>Step #2: Enter Your Profile Information</h2>
		<p>Enter your name, company, social media accounts, and a short bio. We don't have a way of sending messages on #openHSV, so please provide your social accounts as a way to let others contact you.</p> 
		<p>After you submit your profile, a moderator will review your profile in an attempt to verify that you live in the Tennessee Valley. This is because we're trying to build a network of local professionals. Once your profile's been reviewed and accepted, we'll list your profile on the site!</p>
		<p>Have a question? Don't see your industry category listed?  Let us know via the contact form in the lower right.</p>
		<!-- @include form -->
	</div>
</div>