---
template: about
---

<div class="bread-search">
	<ul class="breadcrumbs" data-scope="people">
		<li>
			<a href="/">Home</a>
		</li>
		<li>&nbsp;/&nbsp;</li>
		<li>
			<a href="/people">People</a>
		</li>
		<li>&nbsp;/&nbsp;</li>
		<li>
			<a href="#" data-prop="profile_link">#</a>
		</li>
		<li>&nbsp;/&nbsp;</li>
		<li>
			<a href="#" data-prop="edit_profile_link">Update</a>
		</li>
	</ul>

	<div class="searchform">
		<form action="/people/search" method="get">
			<label for="search-experts">Search:</label>
			<input type="text" name="s" value="" id="search-experts" placeholder="Search by name, keyword, or skill">
			<input type="submit" value="Search" style="display:inline;">
		</form>
	</div>
</div>
<div class="clear"></div>
<div class="content-body">
	<div class="form">
		<h2>Edit your profile</h2>
		<p>Update your profile by editing the fields below. Your listing will be live on the site as soon as you click 'Save'</p>
		<p>Have a question? Don't see your industry category listed? Let us know via the contact form in the lower right.</p>
		<!-- @include form -->
	</div>
</div>