---
template: about
---
<div>
	<ul class="breadcrumbs">
		<li>
			<a href="/">Home</a>
		</li>
		<li>&nbsp;/&nbsp;</li>
		<li>
			<a href="/people">People</a>
		</li>
		<li>&nbsp;/&nbsp;</li>
		<li>
			<a href="#" data-prop="profile_link">#</a>
		</li>
		<li>&nbsp;/&nbsp;</li>
		<li>
			<a href="#" data-prop="edit_profile_link">Update</a>
		</li>
	</ul>
	<div class="content-body">
		<div class="form">
			<h2>Update your profile</h2>
			<p>Update your profile by editing the fields below. A moderator will review your changes before your edits are published.</p>
			<p>Have a question? Don't see your industry listed? <a class="fancybox" data-fancybox-type="iframe" href="/feedback">Contact us</a>.</p>
			<!-- @include form -->
		</div>
	</div>
</div>