---
template: about
---
<div>
	<ul class="breadcrumbs" data-scope="people">
		<li>
			<a href="/">Home</a>
		</li>
		<li>&nbsp;/&nbsp;</li>
		<li>
			<a href="/people">People</a>
		</li>
		<li>&nbsp;/&nbsp;</li>
		<li>
			<a href="#" data-prop="profile_link">#</a>
		</li>
		<li>&nbsp;/&nbsp;</li>
		<li>
			<a href="#" data-prop="edit_profile_link">Update</a>
		</li>
	</ul>
	<div class="content-body">
		<div class="form">
			<h2>Edit your profile</h2>
			<p>Update your profile by editing the fields below. Your listing will be live on the site as soon as you click 'Save'</p>
			<p>Have a question? Don't see your industry listed? <a class="fancybox" data-fancybox-type="iframe" href="/feedback-form.html">Contact us</a>.</p>
			<!-- @include form -->
		</div>
	</div>
</div>