<div class="profiles">
	<div class="description">
		<h2>Everyone</h2>
		<p>This page features some of the freelancers, moonlighters, and consultants on #openHSV. Browse through them by scrolling below or use the industry filters to further refine your search. Register to see all users.</p>
	</div>
	<ul class="profiles-ul" style="margin-top:15px; margin-bottom:15px;">
	  <li class="profile profile-pagination" data-scope="after_people" data-version="authenticated">
			<div style="width: 15%;">
	    	<a href="#" data-prop="previous_link" rel="prev"  data-ui="fastlink">< Previous</a>
			</div>
			<div data-prop="pagination_links"></div>
			<div style="width: 15%;">
				<a href="#" data-prop="next_link" rel="next" data-ui="fastlink">Next ></a>
			</div>
	  </li>
	  <li class="profile" data-scope="after_people" data-version="normal" data-default>
	    <h2>OpenHSV showcases over <span data-prop="full-count">100</span> professionals who call Huntsville their home. <a href="/people/new">Register</a> or <a href="/login">Login</a> to see them all.</h2>
	  </li>
	</ul>
	<ul class="profiles-ul">
		<li class="profile" data-scope="people" data-prop="container">
			<img data-prop="image" />
			<div class="details">
				<div class="contact">
					<div class="contact-wrapper">
						<button class="editUserBtn" data-prop="edit_user_btn">
							<a data-prop="edit_user_btn_href">Edit User</a>
						</button>
						<button class="contactme"><span>Contact Me</span></button>
						<ul class="links">
							<li class="website">
								<a href="#" data-prop="url_link">
									<span>Website</span>
								</a>
							</li>
							<li class="linkedin">
								<a href="#" data-prop="linkedin_link">
									<span>LinkedIn</span>
								</a>
							</li>
							<li class="twitter">
								<a href="#" data-prop="twitter_link">
									<span>Twitter</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="details-wrapper">
					<h3><span data-prop="first_name"></span> <span data-prop="last_name"></span></h3>
					<ul class="categories">
						<li>
							<a data-prop="category_one_link" href="#"></a>
						</li>
						<li data-prop="category_spacer_one" class="slash"></li>
						<li>
							<a data-prop="category_two_link" href="#"></a>
						</li>
						<li  data-prop="category_spacer_two" class="slash"></li>
						<li>
							<a data-prop="category_three_link" href="#"></a>
						</li>
					</ul>
					<p class="bio" data-prop="bio"></p>
				</div>

			</div>
		</li>
	</ul>
	<ul class="profiles-ul" style="margin-top:15px;">
	  <li class="profile profile-pagination" data-scope="after_people" data-version="authenticated">
			<div style="width: 15%;">
	    	<a href="#" data-prop="previous_link" rel="prev"  data-ui="fastlink">< Previous</a>
			</div>
			<div data-prop="pagination_links"></div>
			<div style="width: 15%;">
				<a href="#" data-prop="next_link" rel="next" data-ui="fastlink">Next ></a>
			</div>
	  </li>
	  <li class="profile" data-scope="after_people" data-version="normal" data-default>
	    <h2>OpenHSV showcases over <span data-prop="full-count">100</span> professionals who call Huntsville their home. <a href="/people/new">Register</a> or <a href="/login">Login</a> to see them all.</h2>
	  </li>
	</ul>
</div>
