<h2>
  Please Signup
</h2>

<form data-scope="people" data-prop="action">
  <ul data-scope="errors" class="margin-t">
    <li data-prop="message">
      Error message goes here.
    </li>
  </ul>

  <fieldset class="margin-t">
    <ul>
      <li>
        <label>Email</label>
        <input type="text" data-prop="email">
      </li>

      <li>
        <label>Password</label>
        <input type="password" data-prop="password">
      </li>

      <li>
        <label>Confirm Password</label>
        <input type="password" data-prop="password_confirmation">
      </li>

      <li>
        <input type="submit" value="Sign me up!">
      </li>
    </ul>
  </fieldset>
</form>