---
template: about
---
<div class="bread-search">
  <ul class="breadcrumbs">
    <li>
      <a href="/">Home</a>
    </li>
    <li>&nbsp;/&nbsp;</li>
    <li>
      <a href="/people">People</a>
    </li>
    <li>&nbsp;/&nbsp;</li>
    <li>
      <a href="/people/new">Create Account</a>
    </li>
  </ul>
  <div class="searchform">
    <form action="/people/search" method="get">
      <label for="search-experts">Search:</label>
      <input type="text" name="s" value="" id="search-experts" placeholder="Search by name, keyword, or skill">
      <input type="submit" value="Search" style="display:inline;">
    </form>
  </div>
</div>
<div class="clear"></div>
<div class="content-body">
  <div class="form">
    <h2>Step #1: Enter Your Email and Password</h2>
    <p>Get started with creating your free #openHSV account by entering your email and password. Not sure if you qualify for an account? #openHSV is free and accessible to everyone in the Tennessee Valley.</p>
    <form data-scope="people" data-prop="action" action="/people" method="post">
<!--       <ul data-scope="errors" class="errors">
        <li data-prop="message">Error message goes here.</li>
      </ul> -->
      <ul class="errors"><li data-scope="error"></li></ul>
      <fieldset class="margin-t">
        <ul>
          <li>
            <label>Email</label>
            <input type="text" name="people[email]" value="" placeholder="Enter Your Email Address">
          </li>
          <li>
            <label>Password</label>
            <input type="password" data-prop="password" name="people[password]" value="" placeholder="Enter Your Password">
          </li>
          <li>
            <label>Confirm Password</label>
            <input type="password" data-prop="password_confirmation" name="people[password_confirmation]" value="" placeholder="Confirm Your Password">
          </li>
          <li>
            <input type="submit" value="Get Started!">
          </li>
          <p class="smalltext">By clicking 'Get Started!' you agree to the <a href="/terms" target="_blank">Terms of Service</a>.</p>
        </ul>
      </fieldset>
    </form>
  </div>
</div>