---
template: about
---
<div class="bread-search">
	<ul class="breadcrumbs" data-scope="breadcrumb">
		<li>
			<a href="/">Home</a>
		</li>
		<li>&nbsp;/&nbsp;</li>
		<li>
			<a href="/people">People</a>
		</li>
		<li>&nbsp;/&nbsp;</li>
		<li>
			<a href="/people/profile-created">Profile Created</a>
		</li>
	</ul>
</div>
<div class="clear"></div>
<div class="content-body">
	<div class="form">
		<h2>Step #3: Await Profile Approval</h2>
		<p>Thanks for creating your #openHSV profile! Your account is in the queue to be approved. Once we verify that you're close enough to provide services to the Tennessee Valley, your profile will be live on the site. We’ll send you an email to confirm this.</p>
		<p>In the meantime, <a href="/people">browse some of the other profiles on #openHSV</a>. Contact someone who seems interesting!</p>
	</div>
</div>