---
template: about
---
<div class="bread-search">
	<ul class="breadcrumbs" data-scope="breadcrumb">
		<li>
			<a href="/">Home</a>
		</li>
		<li>&nbsp;/&nbsp;</li>
		<li>
			<a href="/people">People</a>
		</li>
		<li>&nbsp;/&nbsp;</li>
		<li>
			<a href="/people/profile-created">Profile Created</a>
		</li>
	</ul>
</div>
<div class="clear"></div>
<div class="content-body">
	<div class="form">
		<h2>Awaiting Email Verification</h2>
		<p>Thanks for creating your #openHSV profile! Your account is awaiting approval. We've sent you an email to verify your account. Please go to the email and follow the instructions there to complete your account verification.</p>
	</div>
</div>