---
template: about
---
<div>
	<ul class="breadcrumbs" data-scope="breadcrumb">
		<li>
			<a href="/">Home</a>
		</li>
		<li>&nbsp;/&nbsp;</li>
		<li>
			<a href="/people">People</a>
		</li>
		<li>&nbsp;/&nbsp;</li>
		<li>
			<a href="/people/profile-created">Profile Created</a>
		</li>
	</ul>
	<div class="content-body">
		<div class="form">
			<h2>Let the sharing begin!</h2>
			<p>Your account is in the queue to be approved. Once we verify that you're close enough to provide services to the Tennessee Valley, your profile will be live on the site. In the meantime, why don't you share?</p>
			<h3><i class="fa fa-facebook-official"></i></h3>
			<h3><i class="fa fa-twitter-square"></i></h3>
			<h3><i class="fa fa-envelope-square"></i></h3>
		</div>
	</div>
</div>