---
template: about
---
<div data-scope="people" >
	<ul class="breadcrumbs">
		<li>
			<a href="/">Home</a>
		</li>
		<li>&nbsp;/&nbsp;</li>
		<li>
			<a href="/people">People</a>
		</li>
		<li>&nbsp;/&nbsp;</li>
		<li>
			<a href="#" data-prop="profile_link">#</a>
		</li>
		<li class="right">
			<a href="/people/search">Search</a>
		</li>
	</ul>
	
	<ul class="profiles-ul">
		<li class="profile"  data-prop="container">
			<img data-prop="image" />
			<div class="details">
				<div class="contact">
					<div class="contact-wrapper">
						<button class="contactme"><span>Contact Me</span></button>
						<ul class="links">
							<li class="website">
								<a href="#" data-prop="url_link">
									<span>Website</span>
								</a>
							</li>
							<li class="linkedin">
								<a href="#" data-prop="linkedin_link">
									<span>LinkedIn</span>
								</a>
							</li>
							<li class="twitter">
								<a href="#" data-prop="twitter_link">
									<span>Twitter</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="details-wrapper">
					<h3><span data-prop="first_name"></span> <span data-prop="last_name"></span></h3>
					<ul class="categories">
						<li>
							<a data-prop="category_one_link" href="#"></a>
						</li>
						<li data-prop="category_spacer_one" class="slash"></li>
						<li>
							<a data-prop="category_two_link" href="#"></a>
						</li>
						<li  data-prop="category_spacer_two" class="slash"></li>
						<li>
							<a data-prop="category_three_link" href="#"></a>
						</li>
					</ul>
					<p class="bio" data-prop="bio"></p>
				</div>

			</div>
		</li>
	</ul>
</div>