/* Imports */
@import url("jquery.fancybox.css");
@import url("jquery.fancybox-buttons.css");

/*================ GLOBAL =================
=========================================*/

body {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	background-color: #091B1B;
	padding-top:0px !important;
}
a {
	text-decoration: none;
	color: #00A3B8;
}
a:hover {
	text-decoration: underline;
	color: #00A3B8;
}
a:focus, a:active, a:hover, a:visited {
	outline: none;
}
p {
	font-size: 1em;
	line-height: 1.3;
	color: #091B1B;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
h1, h2 {
	margin: 0; 
	padding: 0;
}
.content {
	background-color: #f6f6f6;
}
.left {
	float:left;
}
.right {
	float:right;
}
.clear {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

/*================ HEADER =================
=========================================*/
header {
	background: url('../img/computerfilledtable.jpg') no-repeat right top;
	background-size: 100%;
}
header .overlay {
	background: rgba(10, 40, 40, 0.8);
	background: -moz-linear-gradient(left,  rgba(11,33,24,0.9) 0%, rgba(11,28,33,0.9) 40%, rgba(45,43,16,0.9) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(11,33,24,0.9)), color-stop(40%,rgba(11,28,33,0.9)), color-stop(100%,rgba(45,43,16,0.9))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(11,33,24,0.9) 0%,rgba(11,28,33,0.9) 40%,rgba(45,43,16,0.9) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(11,33,24,0.9) 0%,rgba(11,28,33,0.9) 40%,rgba(45,43,16,0.9) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(11,33,24,0.9) 0%,rgba(11,28,33,0.9) 40%,rgba(45,43,16,0.9) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(11,33,24,0.9) 0%,rgba(11,28,33,0.9) 40%,rgba(45,43,16,0.9) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e60b2118', endColorstr='#e62d2b10',GradientType=1 ); /* IE6-9 */
}
.header-top {
	padding: 20px 0;
	overflow: hidden;
}
.header-bottom {
	padding-bottom: 20px;
	overflow: hidden;
}
.gradient {
	background: rgba(0,225,255,1);
	background: -moz-linear-gradient(45deg, rgba(0,225,255,1) 0%, rgba(255,235,80,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(0,225,255,1)), color-stop(100%, rgba(255,235,80,1)));
	background: -webkit-linear-gradient(45deg, rgba(0,225,255,1) 0%, rgba(255,235,80,1) 100%);
	background: -o-linear-gradient(45deg, rgba(0,225,255,1) 0%, rgba(255,235,80,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(0,225,255,1) 0%, rgba(255,235,80,1) 100%);
	background: linear-gradient(45deg, rgba(0,225,255,1) 0%, rgba(255,235,80,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e1ff ', endColorstr='#ffeb50 ', GradientType=1 );
	width: 100%;
	height: 5px;
}
.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
.title {
	float: left;
	width: 250px;
}
.title p {
	font-size: 0.9em;
	font-style: italic;
	color: #9DCBCB;
	margin: 0;
}
h1 img {
	width: 250px;
}
nav {
	float: right;
	padding-top: 30px;
}
nav ul {
	float: left;
	margin: 0;
}
nav .pages {
	margin-right: 40px;
}
nav li {
	float: left; 
	margin-right: 40px;
}
nav li:last-child {
	margin-right: 0;
}
nav li a {
	font-size: 1.2em;
	font-weight: 600;
	color: #FEEA50;
	border-bottom: 1px dotted #888;
	display: block;
}
nav li a:hover {
	color: #f6f6f6;
	border-bottom-color: #888;
	text-decoration: none;
}
nav li a.selected, nav li a.selected:hover {
	color: #00E1FF;
	border-bottom-color: #007C8C;
}

/*=============== HOME PAGE ===============
=========================================*/

.home .header-top {
	background-color: rgba(9, 27, 27, 0.7);
}
.home h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.8em;
	line-height: 1.4;
	padding: 40px 0;
	color: #f6f6f6;
	clear: both;
	width: 60%;
	margin: 0 auto;
	text-align: center;
	font-weight: normal;
}
.home h3 {
	color: #f6f6f6;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 2.4em;
	line-height: 1.4em;
	padding-bottom: 40px;
	margin: 0;
}
.home h4 {
	color: #f6f6f6;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-size: 1.4em;
	font-weight: normal;
	margin: 0 0 15px;
}
.home .chevron, .hero .chevron {
	display: block;
	clear: both;
	width: 30px;
	position: relative;
	margin: 0 auto;
	height: 40px;
}
.home .chevron:before, .home .chevron:after, .hero .chevron:before, .hero .chevron:after {
    position: absolute;
    display: block;
    content: "";
    border: 14px solid transparent;
}
.home .chevron:before, .hero .chevron:before {
    top: 0;
    border-top-color: #D8D8D8;
}
.home .chevron:after, .hero .chevron:after {
    top: -3px;
    border-top-color: #1E2E2F;
}
.home a {
	outline: none;
}
.home .content .wrapper {
	background: none;
	padding-top: 30px;
}
.blurbs {
	overflow: hidden;
	text-align: center;
}
.blurbs li {
	width: 28%;
	display: inline-block;
	margin-right: 4%;
	text-align: left;
}
.blurbs li:last-child {
	margin-right: 0;
}
.blurbs img {
	width: 100%;
}
.blurbs p {
	font-size: 1.1em;
	margin: 20px 0 0;
	height: 110px;
}
.blurbs a {
	display: block;
	background-color: #091B1B;
	text-align: center;
	color: #f6f6f6;
	font-size: 1.2em;
	padding: 20px 0;
	margin: 20px 0 0;
}
.blurbs a:hover {
	background-color: #054242;
}
.whyjoin {
	text-align: center;
	padding: 50px 0;
}
.whyjoin h3 {
	color: #111;
	padding-bottom: 0;
}
.whyjoin .chevron {
	width: 48px;
	height: 10px;
	margin-top: 30px;
}
.whyjoin .chevron:before, .whyjoin .chevron:after {
	border: 24px solid transparent;
}
.whyjoin .chevron:before {	    
	border-top-color: #aaa;
}
.whyjoin .chevron:after {
    border-top-color: #fbfbfb;
}
.together {
	background: url('../img/groupdiscussion.jpg') no-repeat left -260px;
	background-size: 100%;
}
.together .overlay {
	background: rgba(0, 0, 0, 0.7);
}
.together h3 {
	padding: 100px 0 0;
	text-align: center;
	margin: 0;
}
.together p {
	font-size: 1.9em;
	padding: 40px 0 100px;
	text-align: center;
	color: #f6f6f6;
	margin: 0 auto;
	width: 70%;
}
.credo .wrapper {
	padding: 50px 0;
}
.credo h5 {
	font-size: 4em;
	text-align: center;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}
.credo ol {
	width: 320px;
	margin: 20px auto 0;
}
.credo li {
	font-size: 1.6em;
}
.credo a {
	display: block;
	background-color: #091B1B;
	text-align: center;
	color: #f6f6f6;
	font-size: 1.5em;
	padding: 20px 0;
	width: 300px;
	margin: 40px auto 0;
}
.credo a:hover {
	background-color: #054242;
	color: #f6f6f6;
}
.pattern {
	background: #f6f6f6 url('../img/grey.png') repeat 0 0;
}
.pattern .overlay {
	background: rgba(256, 256, 256, 0.3);
}

/*============ PEOPLE PAGE ===============
=========================================*/



/*============== ABOUT PAGE ===============
=========================================*/

.about .bread-search { 
	padding-top: 10px;
}
.bread-search {
	padding: 0 0 10px;
  	box-shadow: 0 1px 0 #eee;
  	overflow: hidden;
  	margin-bottom: 5px;
}
.breadcrumbs {
	overflow: hidden;
  	margin: 0;
  	float: left;
  	width: 50%;
  	line-height: 36px;
}
.breadcrumbs li {
	float: left;
}
.breadcrumbs li a {
	color: #00A3B8;
}
.breadcrumbs li a:hover {
	text-decoration: underline;
}
.searchform {
	float: right;
}
.searchform label, .searchform input {
	float: left;
}
.searchform label {
	line-height: 36px;
	padding-right: 7px;
}
#search-experts {
	height: 30px;
	width: 270px;
	margin-right: 5px;
}
.searchform input[type="submit"] {
    background-color: #091B1B;
    text-align: center;
    color: #f6f6f6;
    font-size: 1em;
    height: 36px;
    padding: 0 15px;
    border: 0;
    outline: 0;
}
.content-body {
	padding: 20px 0;
}
.about h2 {
	text-align: center;
	font-size: 4em;
	padding-bottom: 30px;
	font-family: 'Montserrat', sans-serif;
}
.about .content-body ul {
	text-align: center;
	overflow: hidden;
	padding: 0 0 40px;
}
.about .content-body li {
	display: inline-block;
	width: 28%;
	text-align: left;
	margin-right: 4%;
	vertical-align:top;
}
.about .content-body li:last-child {
	margin-right: 0;
}
.about .content-body li img {
	display: block;
	width: 100%;
}
.about .content-body li h3 {
	font-size: 2em;
	margin: 20px 0 0;
}
.about .content-body li p {
	margin: 0;
}
.about .together {
	background: url('../img/groupdiscussion.jpg') no-repeat left -280px;
	background-size: 100%;
}
.about .together h3 {
	color: #f6f6f6;
	font-size: 4em;
	font-family: 'Montserrat', sans-serif;
	padding: 120px 0;
}
.theteam {
	background-color: #f6f6f6;
	padding: 40px 0;
}
.theteam p {
	font-size: 1.3em;
}
.about .bread-search {
	padding-top: 10px;
}
.bread-search {
	border-top-color: #424243;
	padding: 0 0 10px;
  	box-shadow: 0 1px 0 #eee;
  	overflow: hidden;
  	margin-bottom: 5px;
}		 

/*=============== ORIGINALS ===============
=========================================*/

.originals {
	background-color: #0C2322;
	padding: 40px 0;
}
.originals .wrapper {
	margin: 0 auto;
}
.originals h3 {
	color: #00A3B8;
	font-size: 2em;
	font-weight: 800;
	background: linear-gradient(330deg, #00e1ff 0%, #ffeb50 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: center;
	width: 80%;
	margin: 0 auto;
	padding: 0;
}
.originals p {
	color: #f6f6f6;
	font-size: 2.6em;
	padding: 50px 0 0;
	margin: 0;
	text-align: center;
}
.originals img {
	width: 200px;
	margin: 0 auto;
	padding-top: 10px;
	display: block;
}

/*=============== FEEDBACK ================
=========================================*/

.fancybox-type-iframe .fancybox-outer {
	background-color: #EAE9E3;
	}
.jotform-form .form-all {
	width: auto;
}

/*=============== SIDEBAR =================
=========================================*/

.sidebar {
	background-color: #fff;
	width: 260px;
	float: left;
	overflow: hidden;
}
.parentcats {
	padding: 15px;
}
.sidebar {
	margin-top: 15px;
}
.sidebar li {
	margin-bottom: 7px;
}
.sidebar li:last-child {
	margin-bottom: 0;
}
.sidebar a {
	display: block;
	padding: 10px;
	color: #091B1B;
	text-transform: uppercase;
	overflow: hidden;
	background-color: #eee;
}
.sidebar a:hover {
	background-color: #ddd;
}
.sidebar .selected a, .sidebar .selected a:hover {
	background-color: #00E1FF;
}
.subcats {
	margin: 7px 0 0;
}
.subcats li {
	margin-left: 20px;
}
.tinynav { 
	display: none 
}

/*================ INDEX ==================
=========================================*/

.profiles {
	padding: 15px 0 30px 15px;
	overflow: hidden;
}
.description {
	padding: 10px;
	margin: 0 0 15px;
	box-shadow: 1px 1px 1px #ddd;
	background-color: #fff;
}
.description h2 {
	padding: 0;
	color: #091B1B;
	width: auto;
	margin: 0;
	font-size: 1.3em;
	text-align: left;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}
.description p {
	margin: 0;
}
.profile {
	background-color: #fff;
	box-shadow: 1px 1px 1px #ddd;
	overflow: hidden;
	padding: 10px;
	margin: 0 0 15px;
}
.profile:last-child {
	margin-bottom: 0;
}
.profile img {
	width: 160px;
	float: left;
	display: block;
}
.details {
	overflow: hidden;
}
.details-wrapper {
	padding: 0 10px 0 20px;
	overflow: hidden;
}
.details h3 {
	margin: 0;
	font-size: 1.7em;
	color: #091B1B;
}
.categories {
	overflow: hidden;
}
.categories:before {
	font-family: 'FontAwesome';
	margin: 0 3px 0 0;
	color: #aaa;
	content: '\f03a';
	font-size: 0.7em;
}
.categories li {
	display: inline-block;
	color: #999;
}
.categories li a {
	color: #999;
	font-size: 0.8em;
	text-transform: uppercase;
}
.categories li a:hover {
	text-decoration: underline;
}
.categories .slash {
	color: #ddd;
}
.bio {
	padding: 10px 0 0;
	margin: 0;
	font-size: 1em;
}
.contact {
	float: right;
	width: 160px;
}
.contactme {
	display: block;
	background-color: #091B1B;
	text-align: center;
	color: #f6f6f6;
	font-size: 1em;
	padding: 10px 0;
	width: 100%;
	border: 0;
	outline: 0;
}
.contactme:hover {
	background-color: #054242;
	color: #f6f6f6;
}
.contactme span:hover {
	text-decoration: underline;
}
.contactme:before {
	font-family: 'FontAwesome';
	margin:0 7px 0 0;
	color: #f6f6f6;
	content: '\f0e0';
}
.links {
	padding: 10px 0 0;
	position: absolute;
	background-color: #fff;
	display: none;
}
.links li {
	margin-bottom: 5px;
	line-height: 1.2;
}
.links li:last-child {
	margin-bottom: 0;
}
.links a {
	overflow: hidden;
	color: #00A3B8;
	font-size: 0.9em;
}
.links a:before {    
	font-family: 'FontAwesome';
	margin:0 7px 0 0;
	color: #091B1B;
}
.links a:hover {
	text-decoration: none;
}
.links a span:hover {
	text-decoration: underline;
}
.website a:before {
	content: '\f0c1';
}
.linkedin a:before {
	content: '\f0e1';
}
.twitter a:before {
	content: '\f099';
}
.links i {
	font-size: 1.2em;
	display: block;
	float: left;
	margin-right: 8px;
}
.links a span:hover {
	text-decoration: underline;
}

/*=============== ACCORDION ===============
=========================================*/

/* Overlays */
.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.ui-accordion .ui-accordion-header {
	display: block;
	cursor: pointer;
	position: relative;
	min-height: 0; /* support: IE7 */
	font-size: 100%;
}

/*============ CREATE PROFILE =============
=========================================*/

.form {
	margin: 0 auto;
}
.form h2 {
	font-size: 2em;
}
.errors {
	color: red;
	font-size: 0.8em;
}
fieldset {
	margin: 5px 0 0;
	padding: 30px;
	border: none;
	background-color: #fff;
	box-shadow: 1px 1px 1px #ddd;
}
fieldset li {
	margin-bottom: 20px;
}
fieldset li:last-of-type {
	margin: 0;
}
fieldset label {
	display: block;
}
.form input[type="text"], .form input[type="password"] {
	height: 35px;
	margin: 0;
	padding: 0 0 0 6px;
	width: 240px;
}
.form textarea {
	width: 250px;
	padding: 0 0 0 6px;
	border: 1px solid #dfdfdf;
	height: 100px;
}
::-webkit-input-placeholder {
	padding-left: 6px;
}
:-moz-placeholder {
	padding-left: 6px;
}
:-ms-input-placeholder {
	padding-left: 6px;
}
.smalltext {
	font-size: 0.8em;
	margin: 7px 0 0;
	color: #888;
}
.form input[type="submit"] {
	display: block;
	background-color: #091B1B;
	text-align: center;
	color: #f6f6f6;
	font-size: 1em;
	padding: 10px 0;
	border: none;
	width: 140px;
}
.form #submit {
	margin-top: 20px;
}
.form input[type="submit"]:hover, .form #submit:hover {
	background-color: #054242;
	text-decoration: underline;
}
legend {
	text-transform: uppercase;
	color: #bbb;
}
.chzn-container {
	width: 250px !important;
}
.form .chzn-search input[type="text"] {
	height: 25px;
}
.category, .item, .chzn-container-single .chzn-single {
    font-family: sans-serif;
}
.category {
	font-weight: bold;
}
.chzn-results li.item {
	padding-left: 25px;
}

/*================ FOOTER =================
=========================================*/

footer {
	background-color: #091B1B;
}
footer {
	padding: 20px 0;
}
footer p {
	color: #777;
	margin: 0;
	padding: 0;
	font-size: 0.8em;
}
footer a {
	color: #aaa;
}
footer a:hover {
	color: #999;
	text-decoration: underline;
}

/*============ MEDIA QUERIES ==============
=========================================*/

@media only screen and (max-width: 1400px) {
	header {
		background-size: 1400px;
	}
	.together {
		background-size: 1400px;
	}
}
@media only screen and (max-width: 1200px) {
	.header-top {
		padding: 30px 0;
	}
	.wrapper {
		padding: 0 20px;
	}
	.home h2 {
		width: 70%;
}
}
@media only screen and (max-width: 900px) {
	
	header {
		background-size: 1600px;
	}
	.title {
		float: none;
		margin: 0 auto;
		text-align: center;
	}
	.header-bottom h2 { 
		text-align: center;
		padding: 25px 0;
		font-size: 1.3em;
		width: 80%;
		margin: 0 auto;
	}
	h3, .header-bottom h3 {
		font-size: 1.6em;
		padding-bottom: 25px;
		margin: 0;
	}
	.profiles {
		padding-left: 0;
	}
	.details h3 {
		padding-bottom: 0;
	}
	.header-bottom h4 {
		font-size: 1.3em;
	}
	.home .chevron {
		height: 25px;
	}
	nav {
		padding-top: 15px;
		float: none;
		text-align: center;
	}
	nav ul {
		margin: 0 auto;
		padding: 10px 0 0;
		float: none;
		overflow: hidden;
		text-align: center;
	}
	nav ul:first-child {
		margin: 0;
		padding: 0;
	}
	nav .nav-buttons {
		padding-top: 20px;
	}
	nav li, .about nav li {
		margin-right: 30px;
		display: inline-block;
		float: none;
	}
	nav li:last-child {
		margin-right: 0;
	}
	nav li a {
		font-size: 1.2em;
	} 
    .parentcats { 
    	display: none; 
    }
	.tinynav { 
		display: block;
		height: 40px;
		border: 1px solid #eee;
		background-color: #fff;
	}
    .js .tinynav { 
    	display: block; 
    }
    .js .parentcats { 
    	display: none; 
    }
    .sidebar {
    	float: none;
    	width: auto;
    	margin-top: 10px;
    }
    select.tinynav {
    	width: 100%;
    }
    .backdrop {
    	background-color: #eaeaea;
    	padding: 20px 0;
    }
    .backdrop img {
    	margin: 0 auto;
    	float: none;
    	display: block;
    }
    .about .google-map {
		width: 300px;
	}
	.about .google-map .map {
		margin-top: -150px;
	}
	.about .about-text p {
		font-size: 0.9em;
	}
	.about .index-wrapper {
		padding: 0 10px;
	}
	.blurbs {
		margin: 0;
	}
	.blurbs li {
		display: block;
		width: 70%;
		margin: 0 auto;
		text-align: left;
		margin-bottom: 50px;
	}
	.blurbs li:last-child {
		margin-bottom: 0;
	}
	.blurbs p {
		margin: 10px 0;
		height: auto;
	}
	.blurbs li:last-child {
		margin: 0 auto;
	}
	.whyjoin {
		padding: 40px 0 20px;
	}
	.whyjoin h3 {
		padding-bottom: 10px;
	}
	.together h3 {
		padding: 40px 0 0;
		font-size: 2em;
		width: 90%;
		margin: 0 auto;
	}
	.together p {
		font-size: 1.5em;
		padding: 40px 0;
	}
	.content-body {
		padding-top: 0;
	}
	.content-body h2 {
		margin-top: 20px;
	}
	.content-body h3 {
		padding-bottom: 0;
	}
	.form h2 {
		padding-top: 10px;
		line-height: 1.1em;
	}
	.about .content-body h2 {
		font-size: 3em;
	}
	.about .content-body li h3 {
		font-size: 1.4em;
	}
	.theteam p {
		font-size: 1em;
	}
	.about .together h3 {
		padding: 100px 0;
		font-size: 3em;
	}
	.about .together {
		background-position: left -160px;
	}
	.about .content-body li {
		display: block;
		width: 70%;
		margin: 0 auto;
		margin-bottom: 50px;
	}
	.about .content-body li:last-child {
		margin: 0 auto;
		margin-bottom: 0;
	}
}
@media only screen and (max-width: 700px) {
	.profile img {
		width: 120px;
	}
	.details h3 {
		font-size: 1.3em;
	}
	.contact {
		width: 120px;
	}
	.theteam {
		padding: 20px 0;
	}
	.about .together h3 {
		padding: 60px 0;
		font-size: 2em;
	}
	.about .content-body h2 {
		font-size: 2em;
	}
	.hero {
		background-position: center -50px;
		background-size: 100%;
	}
	.hero .overlay {
		padding-top: 40px;
	}
}
@media only screen and (max-width: 500px) {
	.contact {
		float: none;
		width: 100%;
	}
	.contact-wrapper {
		padding: 0 0 10px 10px;
		position: relative;
	}
	.links {
		width: 100%;
		background: #f9f9f9;
		padding: 10px 0;
		border-bottom: 1px solid #eee;
	}
	.links li {
		padding: 0 0 0 15px;
	}
	.form {
		width: auto;
	}
	.originals p {
		padding: 25px 0 0;
	}
	.originals h3 {
		font-size: 1.3em;
		width: 90%;
	}
	.originals {
		padding: 25px 0;
	}
	.about .together {
		background-position: left -70px;
	}
	.about .together h3 {
		padding: 40px;
	}
	#search-experts {
		width: 200px;
	}
	.searchform input[type="submit"] {
		padding: 0 10px;
	}
}
@media only screen and (max-width: 400px) {
	.header-top {
		padding: 20px 0;
	}
	.wrapper {
		padding: 0 10px;
	}
	h2, .about h2 {
		font-size: 1em;
	}
	.header-bottom h3 {
		font-size: 1.2em;
	}
	.blurbs a {
		margin: 15px 0 0;
	}
	.index-wrapper {
		padding: 10px;
	}
	.together h3 {
		font-size: 1.5em;
	}
	.together p {
		font-size: 1.3em;
	}
	.whyjoin h3 {
		font-size: 1.5em;
	}
	.credo h5 {
		font-size: 3em;
	}
	.credo ol {
		width: 260px;
	}
	.credo li {
		font-size: 1.3em;
	}
	.credo a {
		font-size: 1.2em;
	}
	.originals p {
		font-size: 2em;
		padding-top: 30px;
	}
	.social i {
		font-size: 1em;
	}
	.social a span {
		font-size: 1em;
	}
}




.hide
{
	height:0px;
	overflow:hidden;
	margin:0px;
	padding:0px;
}
.slideshow 
{
	font-size:2em;
}
.slideshow img
{
	width:33%;
	height:auto;
}
.slideshow li.profile
{
	margin-bottom:25%;
}
.breadcrumbs li.right
{
	float:right;
}