/* Imports */
@import url("jquery.fancybox.css");
@import url("jquery.fancybox-buttons.css");

/*================ GLOBAL =================
=========================================*/
a {
	text-decoration: none;
	outline: none;
}
ul {
	list-style: none;
	padding: 0;
}
body {
	font-size: 16px;
	font-family: 'Open Sans';
	font-weight: 400;
}

/*================ HEADER =================
=========================================*/
header {
	background: url('../img/computerfilledtable.jpg') no-repeat;
	background-size: 100%;
}
header .overlay {
	background: rgba(10, 40, 40, 0.8);
	background: -moz-linear-gradient(left,  rgba(11,33,24,0.9) 0%, rgba(11,28,33,0.9) 40%, rgba(45,43,16,0.9) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(11,33,24,0.9)), color-stop(40%,rgba(11,28,33,0.9)), color-stop(100%,rgba(45,43,16,0.9))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(11,33,24,0.9) 0%,rgba(11,28,33,0.9) 40%,rgba(45,43,16,0.9) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(11,33,24,0.9) 0%,rgba(11,28,33,0.9) 40%,rgba(45,43,16,0.9) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(11,33,24,0.9) 0%,rgba(11,28,33,0.9) 40%,rgba(45,43,16,0.9) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(11,33,24,0.9) 0%,rgba(11,28,33,0.9) 40%,rgba(45,43,16,0.9) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e60b2118', endColorstr='#e62d2b10',GradientType=1 ); /* IE6-9 */
}
.header-top {
	padding: 30px 0 20px;
	overflow: hidden;
	background-color: rgba(9, 27, 27, 0.7);
}
.header-bottom {
	padding-bottom: 30px;
	overflow: hidden;
}
.gradient {
	background: rgba(0,225,255,1);
	background: -moz-linear-gradient(45deg, rgba(0,225,255,1) 0%, rgba(255,235,80,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(0,225,255,1)), color-stop(100%, rgba(255,235,80,1)));
	background: -webkit-linear-gradient(45deg, rgba(0,225,255,1) 0%, rgba(255,235,80,1) 100%);
	background: -o-linear-gradient(45deg, rgba(0,225,255,1) 0%, rgba(255,235,80,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(0,225,255,1) 0%, rgba(255,235,80,1) 100%);
	background: linear-gradient(45deg, rgba(0,225,255,1) 0%, rgba(255,235,80,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e1ff ', endColorstr='#ffeb50 ', GradientType=1 );
	width: 100%;
	height: 5px;
}
.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}
h1 {
	margin: 0; 
	padding: 0;
	float: left;
}
h1 img {
	width: 250px;
}
nav ul {
	float: right;
	margin: 0;
	padding: 5px 0 0;
}
nav li {
	float: left; 
	margin-right: 40px;
}
nav li:last-child {
	margin-right: 0;
}
nav li a {
	font-size: 1.5em;
	font-weight: 600;
	color: #f6f6f6;
	border-bottom: 1px dotted #888;
	display: block;
}
nav li a:hover {
	color: #ccc;
	border-bottom-color: #888;
}
nav li a.selected, nav li a.selected:hover {
	color: #00E1FF;
	border-bottom-color: #007C8C;
}
h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 2.2em;
	padding-top: 40px;
	color: #f6f6f6;
	clear: both;
	width: 70%;
	margin: 0 auto;
	text-align: center;
	font-weight: normal;
}

/*=============== HOME PAGE ===============
=========================================*/

.home h2 {
	font-weight: normal;
	font-size: 1.9em;
	line-height: 1.4em;
	padding: 60px 0 50px;
	font-family: 'Open Sans', sans-serif;
}
.home h3 {
	color: #f6f6f6;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 2.4em;
	line-height: 1.4em;
	padding-bottom: 50px;
}
.home h4 {
	color: #f6f6f6;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-size: 1.4em;
	font-weight: normal;
	margin: 0 0 15px;
}
.home .chevron {
	display: block;
	clear: both;
	width: 30px;
	position: relative;
	margin: 0 auto;
	height: 40px;
}
.home .chevron:before, .home .chevron:after {
    position: absolute;
    display: block;
    content: "";
    border: 14px solid transparent;
}
.home .chevron:before {
    top: 0;
    border-top-color: #D8D8D8;
}
.home .chevron:after {
    top: -3px;
    border-top-color: #1E2E2F;
}
.home a {
	outline: none;
}
.home .content {
	background-color: #f6f6f6;
}
.home .content .wrapper {
	background: none;
}
.home .content ul {
	overflow: hidden;
	padding: 0 100px;
}
.home .content li {
	width: 400px;
}
.home li.join {
	float: left;
}
.home li.find {
	float: right;
}

/*============== ABOUT PAGE ===============
=========================================*/

.about .content {
	background-color: #f6f6f6;
}
.about h1 img {
	width: 300px;
}
.about h2 {
	width: 90%;
	font-size: 1.3em;
	padding-top: 0;
	text-align: left;
	margin: 0;
}
.about header .overlay {
	height: auto;
	padding-bottom: 30px;
}
.about nav li {
	margin-right: 40px;
}
.about nav li:last-child {
	margin-right: 0;
}
.about nav li a {
	font-size: 1.5em;
	display: block;
}
.about .index {
	max-width: 1200px;
}
.about .index-wrapper {
	padding: 0;
}
.about .breadcrumbs {
	overflow: hidden;
	padding-bottom: 15px;
  	box-shadow: 0px 2px 4px #eee;
  	margin-bottom: 40px;
}
.about .breadcrumbs li {
	float: left;
}
.about .breadcrumbs li a {
	color: #00A3B8;
}
.about .breadcrumbs li a:hover {
	text-decoration: underline;
}
.about .about-text {
	padding-bottom: 30px;
}
.about .about-text a {
	color: #00A3B8;
}
.about .about-text a:hover {
	text-decoration: underline;
}
.about .originals {
	background-color: #0C2322;
	padding: 40px 0;
}
.about .originals-wrapper {
	max-width: 1000px;
	margin: 0 auto;
}
.about .gradient-text {
	color: #00A3B8;
	font-size: 2em;
	font-weight: 800;
	background: linear-gradient(330deg, #00e1ff 0%, #ffeb50 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: center;
}
.about .originals p {
	color: #f6f6f6;
	font-size: 2.6em;
	padding: 50px 0 0;
	margin: 0;
	text-align: center;
}
.about .originals img {
	width: 200px;
	margin: 0 auto;
	padding-top: 10px;
	display: block;
}
.about .google-map {
	overflow: hidden;
	width: 450px;
	height: 250px;
	float: right;
	margin: 0 0 40px 40px;
}
.about .map {
	margin-top: -150px;
}

/*=============== FEEDBACK ================
=========================================*/

.fancybox-type-iframe .fancybox-outer {
	background-color: #EAE9E3;
	}
.jotform-form .form-all {
	width: auto;
}

/*=============== SIDEBAR =================
=========================================*/
ul#nav {
	margin-top:0;
}
.sidebar {
	background-color: #112D33;
	padding: 15px;
	width: 220px;
	float: left;
	overflow: hidden;
}
.sidebar ul {
	padding-left: 0;
}
.sidebar li {
	margin-bottom: 7px;
}
.sidebar li:last-child {
	margin-bottom: 0;
}
.sidebar a {
	display: block;
	padding: 10px;
	color: #fefefe;
	text-transform: uppercase;
	overflow: hidden;
	background-color: #213A42;
	box-shadow: 0 1px 1px #000;
	font-family: 'Lato', sans-serif;
}
.sidebar a:hover {
	background-color: #294D59;
}
.sidebar .selected, .sidebar .selected:hover {
	background-color: #00A3B8;
}
.sidebar .selected span {
	float: left;
	display: block;
	font-size: 1em;
}
.sidebar .selected .raquo {
	float: right;
}
.tinynav { 
	display: none 
}


/*================ INDEX ==================
=========================================*/
.content {
	background-color: #112D33;
	overflow: hidden;
}
.content .wrapper {
	background-color: #112D33;
}
.index {
	max-width: 950px;
	background-color: #f6f6f6;
	overflow: hidden;
}
.index-wrapper {
	padding: 30px;
}
.entities {
	margin: 0;
}
.entity {
	background-color: #fff;
	padding: 5px;
	box-shadow: 1px 1px 1px #ddd;
	overflow: hidden;
	margin: 0 0 15px;
}
.entity:last-child {
	margin-bottom: 0;
}
.entity img {
	width: 200px;
	height: 200px;
	float: left;
}
.entity .details {
	float: left;
	padding: 10px 0 10px 15px;
}
h3 {
	margin: 0 0 3px;
	padding: 0;
	font-size: 1.7em;
}
.categories {
	overflow: hidden;
}
.categories li {
	float: left;
	color: #999;
}
.categories li a {
	color: #555;
	text-transform: uppercase;
}
.categories li a:hover {
	text-decoration: underline;
}
.social {
	padding-top: 20px;
}
.social li {
	margin-bottom: 10px;
	line-height: 1.4em;
}
.social li:last-child {
	margin-bottom: 0;
}
.social a {
	overflow: hidden;
	color: #000;
}
.social i {
	font-size: 1.4em;
	display: block;
	float: left;
	margin-right: 10px;
}
.social a span {
	color: #00A3B8;
	font-size: 1.1em;
}
.social a span:hover {
	text-decoration: underline;
}

/*=============== ACCORDION ===============
=========================================*/

/* Overlays */
.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.ui-accordion .ui-accordion-header {
	display: block;
	cursor: pointer;
	position: relative;
	margin: 2px 0 0 0;
	padding: .5em .5em .5em .7em;
	min-height: 0; /* support: IE7 */
	font-size: 100%;
}
.ui-accordion .ui-accordion-icons {
	padding-left: 2.2em;
}
.ui-accordion .ui-accordion-icons .ui-accordion-icons {
	padding-left: 2.2em;
}
.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
	position: absolute;
	left: .5em;
	top: 50%;
	margin-top: -8px;
}
.ui-corner-bottom.ui-accordion-content-active li {
	margin: 7px 0 0 15px;
}

/*================ FOOTER =================
=========================================*/

footer {
	background-color: #091B1B;
}
footer .wrapper {
	padding: 20px 0;
}
footer p {
	color: #777;
	margin: 0;
	padding: 0;
	font-size: 0.8em;
}
footer a {
	color: #999;
}
footer a:hover {
	color: #999;
	text-decoration: underline;
}

/*============ MEDIA QUERIES ==============
=========================================*/

@media only screen and (max-width: 1200px) {
	h1 {
		padding-left: 20px;
	}
	h2 {
		padding-left: 20px;
	}
}
@media only screen and (max-width: 800px) {
	
	header .overlay {
		padding: 10px 0;
		height: auto;
	}
	.about header .overlay {
		padding: 10px 0;
	}
	h1 {
		text-align: center;
		width: 100%;
		padding-left: 0;
	}
	h1 img {
		width: 300px;
		display: block;
		margin: 0 auto;
	}
	h2, .about h2 { 
		text-align: center;
		padding: 15px 0 0;
		font-size: 1.2em;
		width: 100%;
		margin: 0;
	}
	nav {
		clear: both;
	}
	nav ul {
		margin: 0 auto;
		padding: 10px 0 0;
		float: none;
		overflow: hidden;
		text-align: center;
	}
	nav li, .about nav li {
		margin-right: 30px;
		display: inline-block;
		float: none;
	}
	nav li:last-child {
		margin-right: 0;
	}
	nav li a, .about nav li a {
		font-size: 1.4em;
	} 
	.tinynav { 
		display: block;
		height: 40px;
		border: none;
	}
    #nav { 
    	display: none; 
    }
    .js .tinynav { 
    	display: block; 
    }
    .js #nav { 
    	display: none; 
    }
    .sidebar {
    	float: none;
    	width: auto;
    }
    select.tinynav {
    	width: 100%;
    }
    .backdrop {
    	background-color: #eaeaea;
    	padding: 20px 0;
    }
    .backdrop img {
    	margin: 0 auto;
    	float: none;
    	display: block;
    }
    .about .google-map {
		width: 300px;
	}
	.about .google-map .map {
		margin-top: -150px;
	}
	.about .about-text p {
		font-size: 0.9em;
	}
	.about .index-wrapper {
		padding: 0 10px;
	}
}

@media only screen and (max-width: 400px) {
	h1 img {
		width: 300px;
	}
	h2, .about h2 {
		font-size: 1em;
	}
	.index-wrapper {
		padding: 10px;
	}
	.social i {
		font-size: 1em;
	}
	.social a span {
		font-size: 1em;
	}
}




.hide
{
	height:0px;
	overflow:hidden;
	margin:0px;
	padding:0px;
}


	