---
template: mail
---
<div data-scope="people" style="margin:40px;">
	<h2>Hey thing creator, community grower, success helper, clearer of the way, barrier overcomer, problem solver and Huntsvillian,</h2>
	<p>Your <a href="http://www.openhsv.com" title="#openHSV">#openHSV</a> account was just approved. That means that your listing is live on #openHSV right now. Go <a href="http://www.openhsv.com/people" title="#openHSV">check it out</a>!</p>
	<p>Use your profile to find freelance opportunities, hire freelancers, meet advisors or mentors, or refer colleagues. In the future you'll be able to use your #openHSV profile as your digital identity for registering for and checking into local events. Stay tuned!</p>
	<p>Thank you,</p>
	<p>The <strong>#openHSV</strong> team</p>
</div>