---
template: mail
---
<div data-scope="people" style="margin:40px;">
	<h2>Dear <span data-prop="first_name"></span> <span data-prop="last_name"></span></h2>
	<p>Your <a href="http://www.openhsv.com" title="#openHSV">#openHSV</a> account has been suspended due to violation of our <a href="http://www.openhsv.com/terms" title="#openHSV Terms of Service and Privacy Policy">terms</a>. If you think the suspension is unwarranted, appeal by contacting us at <a href="mailto:openhsv@gmail.com">openhsv@gmail.com</a>.</p>
	<p>Thank you,</p>
	<p>The <strong>#openHSV</strong> team</p>
</div>