---
template: mail
---
<div data-scope="people" style="margin:40px;">
	<h2>Hey thing creator, community grower, success helper, clearer of the way, barrier overcomer, problem solver and Huntsvillian,</h2>
	<p>Your <a href="http://www.openhsv.com" title="#openHSV">#openHSV</a> account was just approved. That means that your listing is live on the #openHSV right now. Go <a href="http://www.openhsv.com/people" title="#openHSV">check it out</a> now.</p>
	<p>Thank you,</p>
	<p>The <strong>#openHSV</strong> team</p>
</div>