---
template: about
---
<div class="profiles">
	<div class="description">
		<h2 style="display: inline-block;">Everyone</h2>
		<a href="#" data-scope="admins" data-prop="create_group_link"></a>
		<p>This page features some of the groups on #openHSV. Browse through them by scrolling below or use the industry filters to further refine your search.</p>
	</div>
	<ul class="profiles-ul" style="margin-top:15px; margin-bottom:15px;">
	  <li class="profile" data-scope="after_groups" data-version="authenticated">
			<!-- TODO: Make custom arrow out of hashtag graphic -->
			<!-- &#10096; &#10094; -->
	    <a href="#" data-prop="previous_link" rel="prev"  data-ui="fastlink">< Previous</a>
			<!-- &#10095; -->
			<!-- &#10097;&#10097; -->
			<!-- &#10093;&#10093; -->
			<a href="#" data-prop="next_link" rel="next" data-ui="fastlink">Next ></a>
	  </li>
	  <li class="profile" data-scope="after_groups" data-version="normal" data-default>
	    <h2>OpenHSV showcases over <span data-prop="full-count">100</span> groups who call Huntsville their home. <a href="/people/new">Register</a> or <a href="/login">Login</a> to see them all.</h2>
	  </li>
	</ul>
	<ul class="profiles-ul">
		<li class="profile" data-scope="groups" data-prop="container">
			<img data-prop="image" />
			<div class="details">
				<div class="details-wrapper">
					<h3 style="display: inline-block;"><span data-prop="name"></span></h3>
					<a href="#" class="btn hide" data-prop="group_edit_link"></a>
					<ul class="categories">
						<li>
							<a data-prop="category_one_link" href="#"></a>
						</li>
						<li data-prop="category_spacer_one" class="slash"></li>
						<li>
							<a data-prop="category_two_link" href="#"></a>
						</li>
						<li  data-prop="category_spacer_two" class="slash"></li>
						<li>
							<a data-prop="category_three_link" href="#"></a>
						</li>
					</ul>
					<p class="bio" data-prop="description"></p>
				</div>

			</div>
		</li>
	</ul>
	<ul class="profiles-ul" style="margin-top:15px;">
	  <li class="profile" data-scope="after_groups" data-version="authenticated">
			<!-- TODO: Make custom arrow out of hashtag graphic -->
			<!-- &#10096; &#10094; -->
	    <a href="#" data-prop="previous_link" rel="prev"  data-ui="fastlink">< Previous</a>
			<!-- &#10095; -->
			<!-- &#10097;&#10097; -->
			<!-- &#10093;&#10093; -->
			<a href="#" data-prop="next_link" rel="next" data-ui="fastlink">Next ></a>
	  </li>
	  <li class="profile" data-scope="after_groups" data-version="normal" data-default>
	    <h2>OpenHSV showcases over <span data-prop="full-count">100</span> groups who call Huntsville their home. <a href="/people/new">Register</a> or <a href="/login">Login</a> to see them all.</h2>
	  </li>
	</ul>
</div>
