---
template: about
---
<div class="bread-search">
  <ul class="breadcrumbs">
    <li>
      <a href="/">Home</a>
    </li>
    <li>&nbsp;/&nbsp;</li>
    <li>
      <a href="/groups">Groups</a>
    </li>
    <li>&nbsp;/&nbsp;</li>
    <li>
      <a href="/groups/new">Create Group</a>
    </li>
  </ul>
  <div class="searchform">
    <form action="/people/search" method="get">
      <label for="search-experts">Search:</label>
      <input type="text" name="s" value="" id="search-experts" placeholder="Search by name, keyword, or skill">
      <input type="submit" value="Search" style="display:inline;">
    </form>
  </div>
</div>
<div class="clear"></div>
<div class="content-body">
	<div class="form">
		<h2>Create a Group</h2>
		<p>Enter all of the group information you would like to create, then hit 'Save'</p>
		<!-- @include form -->
	</div>
</div>
