<form data-scope="user" data-prop="action">
  <ul data-scope="errors" class="margin-t">
<!--     <li data-prop="message">
      Error message goes here.
    </li> -->
  </ul>

  <fieldset class="margin-t">
    <ul>
      <li>
        <label>First Name</label>
        <input type="text" data-prop="first_name">
      </li>
      <li>
        <label>Last Name</label>
        <input type="text" data-prop="last_name">
      </li>
      <li>
        <label>Email</label>
        <input type="text" data-prop="email">
      </li>
      <li>
        <label>Company</label>
        <input type="text" data-prop="company">
      </li>
      <li>
        <label>Twitter</label>
        <input type="text" data-prop="twitter">
      </li>
      <li>
        <label>LinkedIn</label>
        <input type="text" data-prop="linkedin">
      </li>
      <li>
        <label>Website</label>
        <input type="text" data-prop="url">
      </li>
      <li>
        <label>Other Information</label>
        <textarea  data-prop="other_info"></textarea>
      </li>
      <li>
        <input type="submit" value="Edit">
      </li>
    </ul>
  </fieldset>
</form>


  <!-- <li data-prop="specialties">specialties</li> -->
