<link rel="stylesheet" type="text/css" href="/css/datetimepicker/jquery.datetimepicker.css"/>

<form data-scope="events" id="people-form" data-prop="action">
  <ul class="errors"><li data-scope="error"></li></ul>
  <fieldset class="margin-t">
    <ul>
    <input type="hidden" data-prop="id" />
      <li>
        <label>Event Name</label>
        <input type="text" data-prop="name" name="events[name]" placeholder="Name" required>
      </li>
      <li>
        <label>Description</label>
        <textarea data-prop="description" id="bio" name="events[description]" placeholder="Enter your event description (160 characters or less)"></textarea>
        <p class="smalltext">You have <span id="bio-character-count"></span> characters left.</p>
      </li>
      <li style="width:100%;">
        <label>Group</label>
        <select type="text" data-prop="parent_group" class="chosen" required></select>
      </li>
      <li>
        <label>Start DateTime</label>
        <input type="text" data-prop="start_datetime" id="datetimepicker"/>
      </li>
      <li style="width:100%;">
        <label>Venue</label>
        <select type="text" data-prop="venue" class="chosen" required></select>
      </li>
    </ul>
    <input id="submit" type="submit" value="Save">
  </fieldset>
</form>
<script src="/js/datetimepicker/jquery.datetimepicker.full.js"></script>
<script>
$("form").submit(function(e) {

    var ref = $(this).find("[required]");

    $(ref).each(function(){
        if ( $(this).val() == '' )
        {
            alert("Required field should not be blank.");

            $(this).focus();

            e.preventDefault();
            return false;
        }
    });  return true;
});

//http://www.htmlgoodies.com/html5/javascript/calculating-the-difference-between-two-dates-in-javascript.html#fbid=bWo4m8u3pU1
Date.daysBetween = function( date1, date2 ) {
  //Get 1 day in milliseconds
  var one_day=1000*60*60*24;

  // Convert both dates to milliseconds
  var date1_ms = date1.getTime();
  var date2_ms = date2.getTime();

  // Calculate the difference in milliseconds
  var difference_ms = date2_ms - date1_ms;

  // Convert back to days and return
  return Math.round(difference_ms/one_day);
}

//http://stackoverflow.com/questions/8207655/how-to-get-time-of-specific-timezone-using-javascript
function calcTime(offset) {
    // create Date object for current location
    var d = new Date();

    // convert to msec
    // subtract local time zone offset
    // get UTC time in msec
    var utc = d.getTime() - (d.getTimezoneOffset() * 60000);

    // create new Date object for different city
    // using supplied offset
    return new Date(utc + (3600000*offset));
}

$.datetimepicker.setLocale('en');

var months = ["Jan", "Feb", "Mar", "Apr", "May", "June",
                          "July", "Aug", "Sept", "Oct", "Nov", "Dec"];
var daysOfWeek = ["Sun", "Mon", "Tues", "Wed", "Thurs", "Fri", "Sat"];
alert(new Date())
alert (calcTime(-6))
var nextWednesday = calcTime(-6);
nextWednesday.setDate(nextWednesday.getDate() + (3 - 1 - nextWednesday.getDay() + 7) % 7 + 1);
alert(nextWednesday)
var daysBetweenNowAndNextWednesday = Date.daysBetween(calcTime('-6'), nextWednesday);
if (daysBetweenNowAndNextWednesday <= 4)
    nextWednesday.setDate(nextWednesday.getDate() + 7);

var defaultValue = months[nextWednesday.getMonth()] + " "
                    + nextWednesday.getDate().toString() + ", "
                    + nextWednesday.getFullYear().toString() + " "
                    + "18:00 PM";


$('#datetimepicker').datetimepicker({
	disabledWeekDays: [0,1,2,4,5,6],
	allowTimes:['18:00','19:00','20:00','21:00'],
  formatTime:'g:i A',
  format: 'M j, Y g:i A',
  inline:true,
  defaultDate: nextWednesday,
  minDate: nextWednesday,
  defaultTime: "18:00",
  value: defaultValue
});
</script>
