---
template: about
---

<div class="bread-search">
	<ul class="breadcrumbs">
    <content data-scope="people">
  		<li>
  			<a href="/">Home</a>
  		</li>
  		<li>&nbsp;/&nbsp;</li>
  		<li>
  			<a href="/people">People</a>
  		</li>
      <li>&nbsp;/&nbsp;</li>
      <li>
        <a href="#" data-prop="profile_link">#</a>
      </li>
  	</content>
		<li>&nbsp;/&nbsp;</li>
    <li>
      <a href="/events/manage" data-prop="events_link">Events</a>
    </li>
	  <content data-scope="events">
			<li>&nbsp;/&nbsp;</li>
			<li>
				<a href="#" data-prop="event_link">#</a>
			</li>
			<li>&nbsp;/&nbsp;</li>
			<li>
				<a href="/events/new" data-prop="edit_event_link">Schedule Event</a>
			</li>
	  </content>
	</ul>

	<div class="searchform">
		<form action="/people/search" method="get">
			<label for="search-experts">Search:</label>
			<input type="text" name="s" value="" id="search-experts" placeholder="Search by name, keyword, or skill">
			<input type="submit" value="Search" style="display:inline;">
		</form>
	</div>
</div>
<div class="clear"></div>
<div class="content-body">
	<div class="form">
		<h2>Edit an Event</h2>
		<p>Update your event information, then hit 'Save'</p>
		<!-- @include form -->
	</div>
</div>
