---
template: about
---
<div data-scope="people">
  <div class="bread-search">
  	<ul class="breadcrumbs">
  		<li>
  			<a href="/">Home</a>
  		</li>
  		<li>&nbsp;/&nbsp;</li>
  		<li>
  			<a href="/people">People</a>
  		</li>
  		<li>&nbsp;/&nbsp;</li>
  		<li>
  			<a href="#" data-prop="profile_link">#</a>
  		</li>
  		<li>&nbsp;/&nbsp;</li>
  		<li>
  			<a href="/events/manage">Events</a>
  		</li>
  	</ul>
  </div>

  <div id="schedule-toolbar">
  	<span class="sub-heading">Manage Events</span>
  	<a type="button" href="/events/new" class="btn pull-right">Schedule Event</a>
  </div>
</div>
<!-- @include events_table -->
