---
template: about
---
<div data-scope="people">
  <div class="bread-search">
  	<ul class="breadcrumbs">
  		<li>
  			<a href="/">Home</a>
  		</li>
  		<li>&nbsp;/&nbsp;</li>
  		<li>
  			<a href="/people">People</a>
  		</li>
  		<li>&nbsp;/&nbsp;</li>
  		<li>
  			<a href="#" data-prop="profile_link">#</a>
  		</li>
  		<li>&nbsp;/&nbsp;</li>
  		<li>
  			<a href="/events/manage" data-prop="events_link">Events</a>
  		</li>
  	</ul>

  	<div class="searchform">
  		<form action="/people/search" method="get">
  			<label for="search-experts">Search:</label>
  			<input type="text" name="s" value="" id="search-experts" placeholder="Search by name, keyword, or skill">
  			<input type="submit" value="Search" style="display:inline;">
  		</form>
  	</div>
  </div>

  <div class="clear"></div>
  <h2>Manage Events</h2>
  <a href="/events/new" data-prop="schedule_event_link">Schedule Event</a>
</div>
<!-- @include events_table -->
