---
template: about
---
<div data-scope="people">
  <div class="bread-search">
  	<ul class="breadcrumbs">
  		<li>
  			<a href="/">Home</a>
  		</li>
  		<li>&nbsp;/&nbsp;</li>
  		<li>
  			<a href="/people">People</a>
  		</li>
  		<li>&nbsp;/&nbsp;</li>
  		<li>
  			<a href="#" data-prop="profile_link">#</a>
  		</li>
  		<li>&nbsp;/&nbsp;</li>
  		<li>
  			<a href="/events/manage">Events</a>
  		</li>
  	</ul>
  </div>

  <div id="schedule-toolbar">
  	<span class="sub-heading">Manage Events</span>
  	<a type="button" href="/events/new" class="btn pull-right">Schedule Event</a>
  </div>
</div>

<h3 style="color:red; font-weight: normal;">
Please be aware that due to Daylight Savings Time your event's Start Date/Time will appear advanced by one hour. Do not be alarmed. We are aware of the issue, and will be using the time you entered when creating the event. This issue will be resolved shortly. We apologize for the headache.
</h3>
<!-- @include events_table -->
