---
template: about_new
---
<ul class="breadcrumbs">
	<li>
		<a href="/">Home</a>
	</li>
	<li>&nbsp;/&nbsp;</li>
	<li>
		<a href="/">About</a>
	</li>
</ul>
<div class="content-body">

	<h2>What's in a name?</h2>
	<ul>
		<li>
			<img src="/img/hashtag.png" alt="#openHSV hashtag">
			<h3>Hashtag</h3>
			<p>Hashtags bring us together on social networks and across all types of communication. This network is all about people coming together over common needs and desires rooted in their talents and expertise. With hashtags we bring people together, and #openHSV does that for all types of talented makers and doers.</p>
		</li>
		<li>
			<img src="/img/osketch.png" alt="The 'O' in #openHSV">
			<h3>Open</h3>
			<p>Open came from our understanding and belief in open-source solutions: that what is made is shared for the greater good. At #openHSV we believe that open communication, open teamwork, open partnership, and open ideas bring people together. It's time to open Huntsville and work together to achieve greatness!</p>
		</li>
		<li>
			<img src="/img/hsketch.png" alt="The 'H' in #openHSV">
			<h3>Huntsville</h3>
			<p>Why Huntsville? Huntsville is an amazingly diverse city with more outsiders than insiders. With that comes amazing talent, perspective, and communication diversity. We believe all the elements are right here in our backyard and ready to be pieced together strategically to make a big impact on the business world. Start here, start local!</p>
		</li>
	</ul>
</div>