---
template: about
---
<ul class="breadcrumbs">
	<li>
		<a href="/">Home</a>
	</li>
	<li>&nbsp;/&nbsp;</li>
	<li>
		<a href="/">About</a>
	</li>
</ul>
<div class="content-body">
	<p>OpenHSV was conceived as a free community resource for Huntsville's startup and small business population. Our goal was to create an open directory of individuals and firms who are willing to offer their services to help fellow Huntsville-based businesses grow. Any individual professional or group of professionals is welcome to create a listing on OpenHSV. Together, we can boost our economy and help our local business community achieve new heights.</p>
	<p>OpenHSV was designed and built by <a href="http://twitter.com/cgbeaman">Chris Beaman</a>, <a href="http://twitter.com/refractingdrew">Andrew Hall<a/>, <a href="http://twitter.com/skylenewman">Kyle Newman</a>, <a href="http://twitter.com">Joe MacKenzie</a>, <a href="http://twitter.com/moderntarra">Tarra Anzalone</a>, and <a href="http://twitter.com/bryanp">Bryan Powell</a>.</p>
</div>