<div class="profiles">
	<div class="description" data-scope="categories">
		<ul class="breadcrumbs">
			<li>
				<a href="/people">Everyone</a>
			</li>
			<li class="slash">&nbsp;/&nbsp;</li>
			<li>
				<a data-prop="category_one_link" href="#"></a>
			</li>
			<li  data-prop="category_spacer_two" id="breadcrumb_spacer_two" class="slash"></li>
			<li>
				<a data-prop="category_two_link" id="breadcrumb_two_link" href="#"></a>
			</li>
		</ul>
		<h2 data-prop="category" id="category_title">Everyone</h2>
		<p data-prop="description" id="category_description">This page features all of the freelancers, moonlighters, and consultants on #openHSV. Browse through them by scrolling below or use the industry filters to further refine your search.</p>
	</div>
	<div id="empty" style="display:none;">
		<p>This category is waiting on you to nominate someone.</p>
	</div>
	<ul class="profiles-ul">
		<li class="profile" data-scope="people" data-prop="container">
			<img data-prop="image" />
			<div class="details">
				<div class="contact">
					<div class="contact-wrapper">
						<button class="contactme"><span>Contact Me</span></button>
						<ul class="links">
							<li class="website">
								<a href="#" data-prop="url_link">
									<span>Website</span>
								</a>
							</li>
							<li class="linkedin">
								<a href="#" data-prop="linkedin_link">
									<span>LinkedIn</span>
								</a>
							</li>
							<li class="twitter">
								<a href="#" data-prop="twitter_link">
									<span>Twitter</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="details-wrapper">
					<h3><span data-prop="first_name"></span> <span data-prop="last_name"></span></h3>
					<ul class="categories">
						<li>
							<a data-prop="category_one_link" href="#"></a>
						</li>
						<li data-prop="category_spacer_one" class="slash"></li>
						<li>
							<a data-prop="category_two_link" href="#"></a>
						</li>
						<li  data-prop="category_spacer_two" class="slash"></li>
						<li>
							<a data-prop="category_three_link" href="#"></a>
						</li>
					</ul>
					<p class="bio" data-prop="bio"></p>
				</div>

			</div>
		</li>
	</ul>
</div>
<script type="text/javascript">
	function updateTitle(child,slug)
	{
		var p1 = "This page features ";
		var p2 = " freelancers, moonlighters, and consultants on #openHSV. Browse through them by scrolling below or use the industry filters to further refine your search."
	    $.ajax({
		    url: '/categories/title_and_description_from_slug',
		    type: 'get',
		    dataType: 'html',
		    data: {slug},
		    success: function(data) {
		    	console.log(data);
		      if (data)
		      {
		      	var arr = data.split("|");
		      	if (arr[0] && arr[0].length > 0)
		      	{
		      		$('#category_title').html(arr[0]);
		      		if (child)
		      		{
		      			$('#breadcrumb_spacer_two').html('&nbsp;/&nbsp;');
						$('#breadcrumb_two_link').html(arr[0]);
		      		}
		      	}
		      	if (arr[1] && arr[1].length > 0)
		      	{
		      		$('#category_description').html(arr[1]);
		      	}
		      	else if (arr[0] && arr[0].length > 0) 
		      	{
		      		$('#category_description').html(p1 + arr[0] + p2);	
		      	}
		      }
		      return false;
		    }
		});
	}
	$(document).ready(function(){
		var submenu = $("ul#submenu");
		$(".active a").after(submenu);
		if (0 == $('li.profile').length)
		{
			$('#empty').show();
		}
		$("ul#submenu a").click(function(e){
			e.preventDefault();
			$('.sidebar .selected').removeClass('selected');
			var parent = $('.active a').data('cat');
			var cat = $(this).data('cat');
			var showme = parent + "--" + cat;
			$("li.profile").not("."+showme).hide("fast");
			$('.'+showme).show("fast");
			var numShown = $('.'+showme).length;
			if (0 == numShown)
			{
				$('#empty').show("fast");
			}
			else
			{
				$('#empty').hide("fast");
			}
			updateTitle(true,cat);
			history.pushState(null,cat,"/categories/" + parent + "/" + cat);
			$(this).parent().addClass("selected");
		});
		$(".selected a.active-link").click(function(e){
			// if $(this).hasClass('active')
			e.preventDefault();
			$('.sidebar .selected').removeClass('selected');
			var cat = $(this).data('cat');
			$("li.profile").not("."+cat).hide("fast");
			$('.'+cat).show("fast");
			var numShown = $('.'+cat).length;
			if (0 == numShown)
			{
				$('#empty').show("fast");
			}
			else
			{
				$('#empty').hide("fast");
			}
			updateTitle(false,cat);
			history.pushState(null,cat,"/categories/" + cat );
			$(this).parent().addClass("selected");
			$('#breadcrumb_spacer_two').html('');
			$('#breadcrumb_two_link').html('');
		});
	});
</script>