---
template: about
---
<img src="/images/change.png" style="max-width: 60%; margin: 25px auto 10px; position: relative; display: block;"/>
<p style="margin-bottom:40px;font-size:10px; padding:0px 20%; text-align:right;"><em>
  <a href="https://www.flickr.com/photos/69382656@N04/9389454962">Original Image</a>
  licensed by <a href="https://twitter.com/fakegrimlock" title="HE GIANT ROBOT STARTUP DINOSAUR! WRITE CODE, DRINK COFFEE, KICK ASS.">@fakegrimlock</a> under the
  <a href="https://creativecommons.org/licenses/by/2.0/">Creative Commons Attribution 2.0</a> license.</em></p>
<h2>"Only the wisest and stupidest of men never change."</h2>
<h3 style="text-align:right;"><em>&em; Confucius</em></h3>
<div style="font-size:1.6em;">
  <!-- <h4>Subtitle Here</h4> -->
  <p>
    From the first nights and weekends of building Open Huntsville, each of the team members shared a common goal - <strong>to connect the individuals in the Huntsville area</strong>.
    The initial surge of effort brought forth the current iteration of the site.
  </p>
  <p>
    Unfortunately for Open Huntsville, the original founders got busy with work, school, and life.
  </p>
  <p>
    The project languished.
  </p>
  <h3>Turning Over a New Leaf</h3>
  <p>
    Volunteers from New Leaf Digital approached us about taking over development of the project.
    New Leaf Digital connects Huntsvillians through events like CoWorking Night and 32/10.
    Their goal is to add features to Open Huntsville that will allow local organizations to better manage events and serve individuals.
  </p>
  <p>
    Since the new team is implementing their vision of what Open Huntsville should be, we are asking all users to opt-in to Open Huntsville 2.0.
    <em>If you do not opt-in, your profile will not be shown on Open Huntsville after the 2.0 launch date.</em>
  </p>
</div>
<h2 style="margin:40px auto;">Open Huntsville 2.0</h2>
<div style="font-size:1.6em;">
  <p>
    The team is working toward re-launching the site in January 2017.
  </p>
</div>
<h3 style="margin:40px auto; text-align:center;font-size:2.25em;">2.0 Roadmap</h3>
<ol class="credo" style="width:320px; margin:20px auto;">
  <li>Join Huntsville-based affinity <strong>Groups</strong></li>
  <li>Create and View Community <strong>Events</strong></li>
  <li><strong>Check-in</strong> to Events Simply and Easily</li>
</ol>
<h2 style="margin:40px auto;">Are you ready to continue being a part of Huntsville's professional social network?</h2>
<style>
.floater
{
  clear:both;
}
.floater div.yes
{
  width:48%;float:left; clear:left;
}
.floater div.no
{
  width:48%;float:right; clear:right;
}
.floater button
{
  border:none;padding:30px;width:100%;font-size:1.75em;
}
.floater button:hover
{
  text-decoration: underline;
}
.floater .yes button
{
  background-color:rgb(118, 230, 174);
}
.floater .yes button:hover, .floater .yes button:active
{
  background-color:rgb(103, 215, 159);
}
.floater .no button
{
  background-color:rgb(254, 234, 80);
}
.floater .no button:hover, .floater .no button:active
{
  background-color:rgb(248, 228, 74);
}
.floater p
{
  margin:40px auto; clear:both; padding-top:30px;
}
</style>
<div class="floater">
  <form action="/2_0" method="post">
    <div class="yes">
      <button name="opt" value="in">Yes, I Opt-In!</button>
    </div>
    <div class="no">
      <button name="opt" value="out">No, I Opt-Out!</button>
    </div>
  </form>
<p><em>
  If you do not opt-in or opt-out of Open Huntsville 2.0 by the launch date, your profile will go into archive status.
  That way, you will be able to easily restore your profile if you decide to re-join the site.
</em></p>
</div>
