---
template: about
---
<div data-scope="message" data-version="empty" style="font-size:1.6em; margin:250px auto;">
</div>
<div data-scope="message" data-version="out" style="font-size:1.6em; margin:250px auto;">
  <h3>Now it's time for so long.</h3>
  <p>
    Your profile is scheduled to be archived.
  </p>
  <p>
    You will no longer show up in search results after 2.0 launches.
  </p>
  <p>
    We are sad to see you go.
  </p>
  <p style="margin-top:50px;">
    <em><strong>Remember:</strong> You can always re-establish your profile and be part of Open Huntsville.</em>
  </p>
</div>
<div data-scope="message" data-version="in" style="font-size:1.6em; margin:250px auto;">
  <h2>You're in!</h2>
  <p>
    You're all set for the new launch of Open Huntsville.
    While you're waiting for the next update, check out some other ways to connect with like-minded professionals in Huntsville.
  </p>
  <style>
  li
  {
    margin-bottom:1.5em;
    text-align:center;
  }
  </style>
  <ul style="width: 550px; margin:20px auto;">
    <li>
      <a href="https://www.facebook.com/groups/coworkingnight.org/">CoWorking Night</a>
    </li>
    <li>
      <a href="https://www.facebook.com/groups/3210.io/">3210</a>
    </li>
    <li>
      <a href="https://www.facebook.com/rockethatch/">Rocket Hatch</a>
    </li>
    <li>
      <a href="https://www.facebook.com/biztechhsv/">BizTech</a>
    </li>
    <li>
      <a href="https://www.facebook.com/womensbusinesscenterofnorthalabama/">Women's Business Center of North Alabama</a>
    </li>
    <li>
      <a href="https://www.facebook.com/LeadershipHSV/">Leadership Huntsville/Madison County</a>
    </li>
  </ul>
</div>
