<script src="/js/jquery.fancybox.pack.js"></script>
<script src="/js/jquery.fancybox-buttons.js"></script>
<script src="/js/tinynav.min.js"></script>
<script src="/js/chosen.jquery.min.js"></script>
<script src="/js/main.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-66145632-2', 'auto');
  ga('send', 'pageview');

</script>
<script type="text/javascript">
  $(document).ready(function(){
  console.log("document ready");
  var uid = $('input#uid').val();
  if (null != uid && uid.length > 0)
  {
    $.ajax({
    url: '/pageviews/?uid='+uid,
    type: 'post',
    dataType: 'html'
    });
	}
});
</script>