<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title data-prop="title">OpenHSV - Huntsville's Experts</title>
<meta data-prop="description" name="description" content="Huntsville's consultants, moonlighters, service firms, and business advisors">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
<link data-prop="normalize" rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/chosen.css">
<link data-prop="style" rel="stylesheet" href="/css/style.css">
<link data-prop="override" rel="stylesheet" href="/css/dev.css">
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,800|Montserrat' rel='stylesheet' type='text/css'>
<script  src="/js/modernizr.js"></script>
<script data-prop="jquery" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<!-- <script data-prop="jquery_ui" src="#"></script> -->
<link data-prop="canonical" rel="canonical" href="#">
<script data-prop="page_js" src="#"></script>

<meta property="og:url" content="http://www.openhsv.com" />
<meta property="og:image" content="http://www.openhsv.com/images/open_graph_image.jpg" />
<meta property="og:description" content="A directory of Huntsville's freelancers, moonlighters, and consultants." />
<meta property="og:type" content="website" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="#openHSV" />
<meta name="twitter:description" content="A directory of Huntsville's freelancers, moonlighters, and consultants" />
<meta name="twitter:url" content="http://www.openhsv.com" />
<meta name="twitter:image" content="http://www.openhsv.com/images/open_graph_image.jpg" />
