<nav data-scope="main_menu">
	<ul data-prop="first_container" class="pages">
		<li>
			<a data-prop="people_link" href="/people">People</a>
		</li>
		<li>
			<a data-prop="groups_link" href="/groups">Groups</a>
		</li>
		<li>
			<a data-prop="about_link" href="/about">About</a>
		</li>
	</ul>
	<ul data-prop="login_container" class="create-login">
		<li>
			<a data-prop="create_profile_link" href="/people/new">Create Profile</a>
		</li>
		<li>
			<a data-prop="login_link" href="/sessions/new">Log In</a>
		</li>
	</ul>

	<input id="uid" data-prop="uid" type="hidden" />
</nav>
