<nav data-scope="main_menu">
	<ul data-prop="first_container" class="pages">
		<li>
			<a data-prop="people_link" href="/people">People</a>
		</li>
		<li>
			<a data-prop="about_link" href="/about">About</a>
		</li>
		<li>
			<a data-prop="feedback_link" class="feedback" data-fancybox-type="iframe" href="feedback-form.html">Feedback</a>
		</li>						
	</ul>
	<ul data-prop="login_container" class="create-login">
		<li>
			<a data-prop="create_profile_link" href="/people/new">Create Profile</a>
		</li>
		<li>
			<a data-prop="login_link" href="/people/login">Log In</a>
		</li>	
	</ul>
</nav>