
<ul class="entities">
	<li class="entity" data-scope="people">
		<div class="backdrop">
			<img src="assets/img/brandon-kruse.jpg" alt="Brandon Kruse" title="Brandon Kruse" data-prop="image" />
		</div>
		<div class="details">
			<h3><span data-prop="first_name">Brandon</span> <span data-prop="last_name">Kruse</span></h3>
			<ul class="categories">
				<li>
					<a href="#" data-prop="category_one"></a>
				</li>
				<li>
					<a href="#" data-prop="category_two"></a>
				</li>
				<li>
					<a href="#" data-prop="category_three"></a>
				</li>
			</ul>
			<ul class="social">
				<li class="website">
					<a href="#" data-prop="url_link">
						<i class="fa fa-external-link-square"></i>
						<span>Website</span>
					</a>
				</li>
				<li class="linkedin">
					<a href="#" data-prop="linkedin_link">
						<i class="fa fa-linkedin-square"></i>
						<span>LinkedIn</span>
					</a>
				</li>
				<li class="twitter">
					<a href="#" data-prop="twitter_link">
						<i class="fa fa-twitter-square"></i>
						<span>Twitter</span>
					</a>
				</li>
			</ul>
		</div>
	</li>
</ul>

<!-- <ul data-scope="people">
	<li><span data-prop="first_name">first_name</span> <span data-prop="last_name">last_name</span></li>
	<li data-prop="company">company</li>
	<li data-prop="specialties">specialties</li>
	<li data-prop="other_info">other_info</li>
	<li data-prop="email">email</li>
</ul> -->