<!DOCTYPE html>
<html>
	<head data-scope="head">
		<!-- @include head -->
	</head>
	<body class="about">
		<!-- @include optin -->
		<header data-scope="header">
			<div class="overlay">
				<div class="header-top">
					<div class="wrapper">
						<div class="title">
							<h1>
								<a href="/">
									<img src="/img/openhsv-logo.png" alt="OpenHSV Logo" />
								</a>
							</h1>
							<p>Huntsville's Professional Network</p>
						</div>
						<!-- @include main_nav -->
					</div>
				</div>
			</div>
			<div class="gradient"></div>
		</header>
		<div class="content">
			<div class="wrapper">
					<!-- @container -->
    			</div>
    		</div>
		<div class="together">
			<div class="overlay">
				<div class="wrapper">
					<h3>The Team</h3>
				</div>
			</div>
		</div>
		<div class="theteam">
			<div class="wrapper">
				<p>#openHSV was conceived as a free community resource for Huntsville's startup and small business population. Our goal was to create an open directory of independent professionals who provide their services to help fellow Huntsville-based businesses grow. Any professional or group representative is welcome to create a listing on #openHSV.</p>
				<p>Behind every good idea, product, or community is a few starters. Behind #openHSV you will find ordinary people who had similar desires to change, to solve, to shape, to encourage, and to start now. Join us in our efforts to boost our local economy and help our business community achieve new heights.</p>
			</div>
		</div>
		<div class="originals">
			<div class="wrapper">
				<h3>We make, design, engineer, create, illuminate, record, capture, code, program, open, decide, speak, blend, paint, construct, launch, markup, ignite, form, defend, ink.</h3>
				<p>We are Huntsville</p>
				<img src="/img/openhsv-logo.png" alt="OpenHSV logo" />
			</div>
		</div>
    	</div>
		<footer>
			<div class="wrapper">
				<p class="left">Copyright &copy; 2017 OpenHSV. <a href="/terms">Terms of Service</a>.</p>
				<p class="right">
					<a href="http://pakyow.org" target="_blank">Built with <svg width="10" height="10" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M896 1664q-26 0-44-18l-624-602q-10-8-27.5-26t-55.5-65.5-68-97.5-53.5-121-23.5-138q0-220 127-344t351-124q62 0 126.5 21.5t120 58 95.5 68.5 76 68q36-36 76-68t95.5-68.5 120-58 126.5-21.5q224 0 351 124t127 344q0 221-229 450l-623 600q-18 18-44 18z" fill="#f8ccc8"></path></svg> and Pakyow</a>.
				</p>
			</div>
		</footer>
	<!-- @include footer_scripts -->
    </body>
</html>
