
<!DOCTYPE html>
<html>
	<head data-scope="head">
		<!-- @include head -->
	</head>
	<body class="about">
		<header data-scope="header">
			<div class="overlay">
				<div class="wrapper">
					<h1>
						<a href="/">
							<img src="/img/openhsv-logo.png" alt="OpenHSV Logo" />
						</a>
					</h1>
					<nav>
						<ul>
							<li>
								<a href="/find">Find</a>
							</li>
							<li>
								<a href="/about">About</a>
							</li>
							<li>
								<a class="feedback" data-fancybox-type="iframe" href="feedback-form.html">Feedback</a>
							</li>						
						</ul>
					</nav>
					<h2>Huntsville's consultants, moonlighters, service firms and business advisors</h2>
				</div>
			</div>
		</header>
		<div class="content">
			<div class="wrapper">
				<div class="index">
					<div class="index-wrapper">
    					<!-- @container -->
    				</div>
    			</div>
    		</div>

			<div class="originals">
				<div class="originals-wrapper">
					<h3 class="gradient-text">We make, design, engineer, create, illuminate, record, capture, code, program, open, decide, speak, blend, paint, construct, launch, markup, ignite, form, defend, ink.</h3>
					<p>We are Huntsville</p>
					<img src="/img/openhsv-logo.png" alt="OpenHSV logo" />
				</div>
			</div>
    	</div>
		<footer>
			<div class="wrapper">
				<p>Copyright &copy; 2015 OpenHSV</p>
			</div>
		</footer>
	<script src="/js/jquery.fancybox.pack.js"></script>
	<script src="/js/jquery.fancybox-buttons.js"></script>
	<script src="/js/tinynav.min.js"></script>
	<script src="/js/main.js"></script>
    </body>
</html>
