
<!DOCTYPE html>
<html>
	<head data-scope="head">
		<!-- @include head -->
	</head>
	<body class="about">
		<header data-scope="header">
			<div class="overlay">
				<div class="header-top">
					<div class="wrapper">
						<div class="title">
							<h1>
								<a href="/">
									<img src="/img/openhsv-logo.png" alt="OpenHSV Logo" />
								</a>
							</h1>
							<p>A directory of Huntsville's freelancers, moonlighters, and consultants</p>
						</div>
						<!-- @include main_nav -->
					</div>
				</div>
			</div>
		</header>
		<div class="content">
			<div class="wrapper">
					<!-- @container -->
    			</div>
    		</div>
		<div class="together">
			<div class="overlay">
				<div class="wrapper">
					<h3>The Team</h3>
				</div>
			</div>
		</div>
		<div class="theteam">
			<div class="wrapper">
				<p>#openHSV was conceived as a free community resource for Huntsville's startup and small business population. Our goal was to create an open directory of independent professionals who provide their services to help fellow Huntsville-based businesses grow. Any professional or group representative is welcome to create a listing on #openHSV.</p>
				<p>Behind every good idea, product, or community is a few starters. Behind #openHSV you will find five normal people who had  similar desires to change, to solve, to shape, to encourage, and to start now. <a href="http://twitter.com/cgbeaman">Chris Beaman</a>, <a href="http://twitter.com/refractingdrew">Andrew Hall</a>, <a href="http://twitter.com/moderntarra">Tarra Anzalone</a>, <a href="http://twitter.com/skylenewman">Kyle Newman</a>, and <a href="http://twitter.com/">Joe MacKenzie</a> make up the small team behind <a href="/">#openHSV</a>. Join us in our efforts to boost our local economy and help our business community achieve new heights.</p>
			</div>
		</div>
		<div class="originals">
			<div class="wrapper">
				<h3>We make, design, engineer, create, illuminate, record, capture, code, program, open, decide, speak, blend, paint, construct, launch, markup, ignite, form, defend, ink.</h3>
				<p>We are Huntsville</p>
				<img src="/img/openhsv-logo.png" alt="OpenHSV logo" />
			</div>
		</div>
    	</div>
		<footer>
			<div class="wrapper">
				<p>Copyright &copy; 2015 OpenHSV</p>
			</div>
		</footer>
	<!-- @include footer_scripts -->
    </body>
</html>
