<html>
	<head data-scope="head">
		<!-- @include head -->
	</head>
	<body class="find">
		<header data-scope="header">
			<div class="overlay">
				<div class="header-top">
					<div class="wrapper">
						<div class="title">
							<h1>
								<a href="/">
									<img src="/img/openhsv-logo.png" alt="OpenHSV Logo" />
								</a>
							</h1>
							<p>Huntsville's Professional Network</p>
						</div>
						<!-- @include main_nav -->
					</div>
				</div>
			</div>
			<div class="gradient"></div>
		</header>
		<div class="content">
			<div class="wrapper">
				<!-- @Kyle: Is this in the wrong spot?? -July 9, 2016 -Chris -->
				<div class="bread-search">
					<ul class="breadcrumbs">
						<li>
							<a href="/people">Everyone</a>
						</li>
						<li>&nbsp;/&nbsp;</li>
					</ul>
					<div class="searchform"> <!-- Need to make this searchform extensible so that its not for just people -->
						<form action="/people/search" method="get">
							<label for="search-experts">Search:</label>
							<input type="text" name="s" value="" id="search-experts" placeholder="Search by name, keyword, or skill">
							<input type="submit" value="Search" style="display:inline;">
						</form>
					</div>
				</div>
				<div class="clear"></div>
				<!-- @include sidebar_categories -->
				<!-- @container -->
    		</div>
    	</div>
		<footer>
			<div class="wrapper">
				<p class="left">Copyright &copy; 2017 OpenHSV. <a href="/terms">Terms of Service</a>.</p>
				<p class="right">
					<a href="http://pakyow.org" target="_blank">Built with <svg width="10" height="10" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M896 1664q-26 0-44-18l-624-602q-10-8-27.5-26t-55.5-65.5-68-97.5-53.5-121-23.5-138q0-220 127-344t351-124q62 0 126.5 21.5t120 58 95.5 68.5 76 68q36-36 76-68t95.5-68.5 120-58 126.5-21.5q224 0 351 124t127 344q0 221-229 450l-623 600q-18 18-44 18z" fill="#f8ccc8"></path></svg> and Pakyow</a>.
				</p>
			</div>
		</footer>
	<!-- @include footer_scripts -->
    </body>
</html>
