<html>
	<head data-scope="head">
		<!-- @include head -->
	</head>
	<body class="find">
		<header data-scope="header">
			<div class="overlay">
				<div class="header-top">
					<div class="wrapper">
						<div class="title">
							<h1>
								<a href="/">
									<img src="/img/openhsv-logo.png" alt="OpenHSV Logo" />
								</a>
							</h1>
							<p>A directory of Huntsville's freelancers, moonlighters, and consultants</p>
						</div>
						<!-- @include main_nav -->
					</div>
				</div>
			</div>
		</header>
		<div class="content">
			<div class="wrapper">
				<!-- @include sidebar_categories -->
				<!-- @container -->
    		</div>
    	</div>
		<footer>
			<div class="wrapper">
				<p>Copyright &copy; 2015 OpenHSV. <a href="/terms">Terms of Service</a>.</p>
			</div>
		</footer>
	<script src="/js/jquery.fancybox.pack.js"></script>
	<script src="/js/jquery.fancybox-buttons.js"></script>
	<script src="/js/tinynav.min.js"></script>
	<script src="/js/main.js"></script>
    </body>
</html>
