<html>
	<head data-scope="head">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title data-prop="title">OpenHSV - Huntsville's Experts</title>
  <meta name="description" content="Huntsville's consultants, moonlighters, service firms, and business advisors">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link data-prop="font_awesome" rel="stylesheet" href="#">
  <link data-prop="normalize" rel="stylesheet" href="#">
  <link data-prop="style" rel="stylesheet" href="//www.hntsvll.com/assets/css/style.css">
  <link data-prop="override" rel="stylesheet" href="/css/dev.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,800|Montserrat' rel='stylesheet' type='text/css'>
  <script  src="/js/modernizr.js"></script> 
  <script data-prop="jquery" src="#"></script>
  <script data-prop="colorbox" src="#"></script>
  <link data-prop="canonical" rel="canonical" href="#">
  <script data-prop="page_js" src="#"></script>
  <!--$('a#login').colorbox();-->
	</head>
	<body class="home">
		<header data-scope="header">
			<div class="overlay">
				<div class="wrapper">
					<h1>
						<a href="/">
							<img src="/img/openhsv-logo.png" alt="OpenHSV Logo" />
						</a>
					</h1>
					<nav>
						<ul>
							<li>
								<a href="/about">About</a>
							</li>
							<li>
								<a class="feedback" data-fancybox-type="iframe" href="/feedback-form.html">Feedback</a>
							</li>						
						</ul>
					</nav>
					<h2>Huntsville's consultants, moonlighters, service firms and business advisors</h2>
				</div>
			</div>
		</header>
		<div class="content">
			<div class="wrapper">
				<div class="sidebar">
					<ul id="nav">
						<li>
							<a href="#" class="here">
								<span>All</span>
								<span class="raquo">&raquo;</span>
							</a>
						</li>
						<li>
							<a href="#">Finance</a>
						</li>
						<li>
							<a href="#">Legal</a>
						</li>
						<li>
							<a href="#">Design</a>
						</li>
						<li>
							<a href="#">Software</a>
						</li>
						<li>
							<a href="#">Real Estate</a>
						</li>
						<li>
							<a href="#">Human Resources</a>
						</li>
						<li>
							<a href="#">Photography</a>
						</li>
						<li>
							<a href="#">Video</a>
						</li>
						<li>
							<a href="#">Writing</a>
						</li>
					</ul>
				</div>
				<div class="index">
					<div class="index-wrapper">
    					<!-- @container -->
    				</div>
    			</div>
    		</div>
    	</div>
		<footer>
			<div class="wrapper">
				<p>Copyright &copy; 2015 OpenHSV</p>
			</div>
		</footer>
	<script src="/js/jquery.fancybox.pack.js"></script>
	<script src="/js/jquery.fancybox-buttons.js"></script>
	<script src="/js/tinynav.min.js"></script>
	<script src="/js/main.js"></script>
    </body>
</html>
