
<!DOCTYPE html>
<html>
	<head data-scope="head">
		<!-- @include head -->
	</head>
	<style>
		html
		{
			background-color:red;
		}
		.index
		{
			background-color:#fff;
		}

		h1, h2, h3, h4, h5, h6
		{
			color:#FFEB50;
			text-shadow: 2px 2px 1px darkred;
		}
	</style>
	<body class="about">
		<header data-scope="header">
			<div class="overlay">
				<div class="header-top">
					<div class="wrapper">
						<div class="title">
							<h1>
								<a href="/">
									<img src="/img/openhsv-logo.png" alt="OpenHSV Logo" />
								</a>
							</h1>
							<p>A directory of Huntsville's freelancers, moonlighters, and consultants</p>
						</div>
						<!-- @include main_nav -->
					</div>
				</div>
			</div>
		</header>
		<div class="content">
			<div class="wrapper">
					<div class="index-wrapper">
    					<!-- @container -->
    				</div>
    			</div>
    		</div>

			<div class="originals">
				<div class="originals-wrapper">
					<h3 class="gradient-text">We make, design, engineer, create, illuminate, record, capture, code, program, open, decide, speak, blend, paint, construct, launch, markup, ignite, form, defend, ink.</h3>
					<p>We are Huntsville</p>
					<img src="/img/openhsv-logo.png" alt="OpenHSV logo" />
				</div>
			</div>
    	</div>
		<footer>
			<div class="wrapper">
				<p>Copyright &copy; 2015 OpenHSV</p>
			</div>
		</footer>
	<!-- @include footer_scripts -->
    </body>
</html>