<!DOCTYPE html>
<html>
	<head data-scope="head">
		<!-- @include head -->
	</head>
	<body class="home">
		<!-- @include optin -->
		<header>
			<div class="overlay">
				<div class="header-top">
					<div class="wrapper">
						<div class="title">
							<h1>
								<a href="/">
									<img src="/img/openhsv-logo.png" alt="OpenHSV Logo" />
								</a>
							</h1>
							<p>Huntsville's Professional Network</p>
						</div>
						<!-- @include main_nav -->
					</div>
				</div>
				<div class="header-bottom">
					<div class="wrapper">
						<h3 class="white-heading">Urban Engine's Premier<br/>Event Management System</h3>
					</div>
				</div>
			</div>
		</header>
		<div class="together">
			<div class="overlay">
				<div class="wrapper">
					<h3 class="white-heading">"Together we are better, alone we fail."</h3>
					<p>If you want to help others and see your business grow, wait no longer. The heart of #openHSV is wrapped in the credo which we stand behind.</p>
				</div>
			</div>
		</div>
		<div class="originals">
			<div class="wrapper">
				<h3 class="gradient-text">We make, design, engineer, create, illuminate, record, capture, code, program, open, decide, speak, blend, paint, construct, launch, markup, ignite, form, defend, ink.</h3>
				<p>We are Huntsville</p>
				<img src="/img/openhsv-logo.png" alt="OpenHSV logo" />
			</div>
		</div>
		<footer>
			<div class="wrapper">
				<p class="left">Copyright &copy; 2017 OpenHSV. <a href="/terms">Terms of Service</a>.</p>
				<p class="right">
					<a href="http://pakyow.org" target="_blank">Built with <svg width="10" height="10" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M896 1664q-26 0-44-18l-624-602q-10-8-27.5-26t-55.5-65.5-68-97.5-53.5-121-23.5-138q0-220 127-344t351-124q62 0 126.5 21.5t120 58 95.5 68.5 76 68q36-36 76-68t95.5-68.5 120-58 126.5-21.5q224 0 351 124t127 344q0 221-229 450l-623 600q-18 18-44 18z" fill="#f8ccc8"></path></svg> and Pakyow</a>.
				</p>
			</div>
		</footer>
	<!-- @include footer_scripts -->
	</body>
</html>
