<div class="mail-wrapper" style="background: #f6f6f6 url('http://openhsv.herokuapp.com/img/grey.png') repeat 0 0; padding-top:40px">
  <!-- @container -->
	<div style="background-color: #0C2322; padding: 40px 0; text-align:center;">
		<h3 style="color: #00A3B8; font-size: 1.5em; font-weight: 800; text-align: center; width: 80%; margin: 0 auto; padding: 0;">We make, design, engineer, create, illuminate, record, capture, code, program, open, decide, speak, blend, paint, construct, launch, markup, ignite, form, defend, ink.</h3>
		<p style="  color: #f6f6f6; font-size: 2.6em; padding: 50px 0 0; margin: 0; text-align: center;">We are Huntsville</p>
		<img src="http://openhsv.herokuapp.com/img/openhsv-logo.png" alt="OpenHSV logo" width="200px">
	</div>
</div>
